.input {
    font-family: 'Roboto Mono', 'ProximaNova', monospace !important;
}
.input__control {
    font-family: 'Roboto Mono', 'ProximaNova', monospace !important;
}
.input .input__control {
    font-family: 'Roboto Mono', 'ProximaNova', monospace !important;
}
