
/*These are the class/styles used by various objects in GanttChart.  However, Firefox has problems deciphering class style when DIVs are embedded in other DIVs.
GanttChart makes heavy use of embedded DIVS, thus the style are often embedded directly in the objects html.  If this could be resolved with Firefox, it would
make alot of the code look simpleer/cleaner without all the embedded styles
*/

#leftside
{
    border-collapse: collapse;
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef;
    border-bottom: 0px solid #efefef;
    border-right: 1px solid #efefef;
}
#rightside
{
    border-top: 1px solid #efefef;
    border-left: 0px solid #efefef;
    border-right: 1px solid #efefef;
}

.jsGanttTable
{
    padding:0;
    margin:0;	
}

.jsGantTableRow
{
    font-family: "Trebuchet MS";

	/*override font-family*/
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;

    font-size: 11px;
    color: #000;
    height: 20px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef !important;
    border-left: 0px solid #efefef;
    border-top: 0px solid #efefef !important;
    line-height:14px;
}

.jsGantTableRowCheckbox
{
	width: 20px;
	text-align: center;
	border-right-width: 0px;
}

.jsGantTableRowCheckbox input[type='checkbox'] { margin:0px !important; }

.jsTaskName
{
	white-space:nowrap;  overflow: hidden; text-overflow: ellipsis; display: inline-block; text-decoration:none; color: black; width:450px;
}
nobr > .jsGantTableRow 
{
    cursor: pointer;
}
.bottomGanttRow > div
{
    /*border-bottom: 2px solid #efefef;*/
}

.jsGanttHead
{
    box-shadow: 0 1px 0 #FFFFFF inset;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(to top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border-bottom: 1px solid #efefef;
}

.headerRow
{
    font-weight: normal;
    color: #009ade !important;
}

.headerRow th
{
    /*background-color: #def7ff;*/
    font-weight: normal;
    /*color: #009ade !important;*/
    color: #777 !important;
    border-bottom: 0px solid #efefef;
    border-right: 1px solid #efefef !important;
    border-left: 0px solid #efefef;
    border-top: 0px solid #efefef !important;
}

.jsGantTableRowHead {
    font-size: 11px;
    /*font-weight: bold;*/
    text-align: center;
    vertical-align: middle;
    color: #009ade !important;
}
.jsGantSummaryTableRow
{
    border-bottom-width: 1px;
    font-weight: bold;
    height: 20px;
}

.jsGantTableRowResource, .jsGantTableRowDuration, .jsGantTableRowCompStr, .jsGantTableRowStart, .jsGantTableRowEnd
{
    text-align: center;
}
.jsGantTableRowResource 
{
	padding-left: 4px;
	padding-right: 4px;
}
.weekendStyle
{
    background-color: #f8f8f8;
}
.headerRow .weekendStyle 
{
    background-color: transparent;
}
.weekdayStyle
{
    /*background-color: #def7ff;*/
}
.jsGantSummaryCollapser 
{
    border: solid 0px !important;
    cursor: pointer;
    vertical-align: top;
}


..gantt { 
	font-family:"Trebuchet MS"; 

	/*override font-family*/
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;

	font-size:11px;
}

..gdatehead { BORDER-TOP: #efefef 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #efefef 1px solid; HEIGHT: 18px }

..ghead { BORDER-TOP: #efefef 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #efefef 1px solid; WIDTH: 24px; HEIGHT: 20px }

..gname { BORDER-TOP: #efefef 1px solid; FONT-SIZE: 12px; WIDTH: 18px; HEIGHT: 18px }

..ghead A { FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: none }

..gheadwkend A { FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: none }

..gheadwkend { BORDER-TOP: #efefef 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #efefef 1px solid; WIDTH: 24px; HEIGHT: 20px; background-color: #cfcfcf }

..gfiller { BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; WIDTH: 18px; HEIGHT: 18px }

..gfillerwkend { BORDER-LEFT: #efefef 1px solid; WIDTH: 18px; HEIGHT: 18px; BACKGROUND-COLOR: #cfcfcf }

..gitem { BORDER-TOP: #cccccc 1px solid; WIDTH: 18px; HEIGHT: 18px }

..gitemwkend { BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 18px; HEIGHT: 18px }

..gmilestone {	BORDER-TOP: #efefef 1px solid; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-LEFT: #efefef 1px solid; WIDTH: 18px; HEIGHT: 18px}

..gmilestonewkend {	BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 18px; HEIGHT: 18px}

..btn { BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #ffffff; WIDTH: 12px; COLOR: #cccccc; BORDER-BOTTOM: #ffffff; BACKGROUND-COLOR: #ffffff }

..hrcomplete { BORDER-RIGHT: #000000 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 2px solid; WIDTH: 20px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 2px solid; HEIGHT: 4px }

..hrhalfcomplete { BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; WIDTH: 9px; COLOR: #000000; BORDER-BOTTOM: #000000 2px solid; HEIGHT: 4px }

..gweekend { 
	font-family:"Trebuchet MS"; 

	/*override font-family*/
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;

	font-size:11px; background-color:#EEEEEE; text-align:center; 
}

..gtask { 
	font-family:"Trebuchet MS"; 

	/*override font-family*/
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;

	font-size:11px; background-color:#00FF00; text-align:center; 
}

..gday { 
	font-family:"Trebuchet MS"; 

	/*override font-family*/
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;

	font-size:11px; text-align:center; 
}

..gcomplete { background-color:black; height:5px; overflow: auto; margin-top:4px; }

DIV.scroll { BORDER-RIGHT: #efefef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #efefef 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #efefef 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #ffffff }

DIV.scroll2 { position: relative; PADDING-RIGHT: 0px; overflow:auto ;overflow-x:scroll;overflow-y:hidden; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff }

.ghead { font-size: 11px; border-bottom: #efefef 1px solid; border-right: #efefef 1px solid; height: 20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.milestone {height: 18px; width:18px; overflow:hidden; cursor: pointer; font-size: 19px; background-repeat:no-repeat; background-position:center; }
.milestone.indicator0 {  background-image: url("img/m0.png"); }
.milestone.indicator1 {  background-image: url("img/m1.png"); }
.milestone.indicator2 {  background-image: url("img/m2.png"); }
.milestone.indicator3 {  background-image: url("img/m3.png"); }
.milestone.indicator4 {  background-image: url("img/m4.png"); }
.milestone.indicatorP {  background-image: url("img/mp.png"); }
.milestone.indicatorD {  background-image: url("img/mD.png"); }

th.jsGantTableRow div { padding:0; margin:0; }

/* 
    format-selector
*/

.format-selector 
{
  font-size: 11px;
  width: 100%;
  height: 17px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(to top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border-bottom: 1px solid #efefef;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.format-selector .nav {
  margin-bottom: 0;
}

.format-selector .nav > li > a {
  margin: 0;
  padding-top:    2px;
  padding-bottom: 2px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #efefef;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.format-selector .nav > .active > a,
.format-selector .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e4e4e4;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
}
.format-selector .nav > .active > a .caret,
.format-selector .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.format-selector .nav > li:first-child > a,
.format-selector .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.format-selector .nav > li:last-child > a {
  border-right: 0;
}
.format-selector .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .format-selector-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .format-selector-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .format-selector .nav > li:first-child > a,
  .format-selector .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}
