/*panel-loader*/
.panel-loader { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*spinner*/
.spinner-overlay { position: absolute; z-index: 9998; top: 0; bottom: 0; left: 0; right: 0; background-color: #fff; opacity: .75; }
.spinner-container { position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.spinner,
.spinner-text { z-index: 9999; display: block; }
.spinner-text { margin-top: 15px; }
.spinner:after { border: 2px solid #666; content:" "; display: block; height: 30px; width: 30px; animation: rotate 1s infinite linear; border-right-color: transparent; border-bottom-color: transparent; border-radius: 50%; box-sizing: border-box; }
@keyframes rotate { 0% { transform: rotate(0deg); } 100%  { transform: rotate(360deg); } }

/*svg*/
.axis path,
.axis line { fill: none; stroke: none; shape-rendering: crispEdges; }
.axis text { font: 10px sans-serif; }
.nodes path { fill: none; pointer-events: all; cursor: pointer; stroke: none; }
.links path { opacity: .75; stroke-width: 1; }
.grid line { stroke: #ddd; shape-rendering: crispEdges; }
.grid path { stroke-width: 0; }
.brush .selection { fill: #000; stroke: none; }
.mini line { stroke: #fff; shape-rendering: crispEdges; opacity: .1; }
.today { stroke: #000; opacity: .1; }
.mini line.mtoday { opacity: .5; }

/*panel-main*/
.panel-main,
.panel-graph,
.panel-legend,
.panel-info,
.panel-filter { position: absolute; background-color: #fff; }

.panel-main {}
.panel-graph { z-index: 99; }
.panel-legend { z-index: 100; border-left: solid 1px #ddd; }
.panel-info { z-index: 101; border-right: solid 1px #ddd; }
.panel-filter { z-index: 102; background-color: #fafafa; }

.panel-info.hide { display: none; }

.panel-main { top: 0px; bottom: 0px; left: 0px; right: 0px; }
.panel-graph { top: 0px; bottom: 0px; left: 0px; right: 0px; }
.panel-legend { top: 0px; bottom: 0px; right: 0px; width: 0px; }
.panel-info { top: 0px; bottom: 0px; left: 0px; width: 0px; }
.panel-filter { top: 0px; left: 0px; right: 0px; }

/*filter*/
.panel-filter .card__header .pf-filters,
.panel-filter .card__header .pf-functions { flex-wrap: wrap; }
.panel-filter .card__header .pf-filters > div,
.panel-filter .card__header .pf-filters > span { margin-bottom: 10px; }

.panel-filter .card__header .button:before,
.panel-filter .card__header .checkbox:before { background-color: #fff; }
.panel-filter .card__header .alertbox:before { background-color: transparent; }
.panel-filter .card__header .button-group .button:before { background-color: #fafafa; }

/*panel-legend*/
.panel-legend { box-sizing: border-box; overflow-y: auto; overflow-x: hidden; padding: 5px 0; }
.panel-legend .legend-item { display: flex; justify-content: flex-start; padding: 5px 10px; }
.panel-legend .legend-item:hover { cursor: pointer; opacity: .5; }
.panel-legend .legend-circle { background-color: #666; border: solid 1px #666; box-sizing: border-box; width: 8px !important; height: 8px; border-radius: 4px; flex-shrink: 0; margin: 4px 10px 0 0; }
.panel-legend .legend-name { color: #333; }

.panel-legend  .legend-item.legend-hidden .legend-circle { background-color: #fff !important; }
.panel-legend  .legend-item.legend-hidden .legend-name { color: #ccc; }

/*tooltip*/
.tooltip { pointer-events: none; max-width: 500px; }
.tooltip__text { font-size: 11px; font-weight: bold; }
.trow:after { content: " "; display: table; clear: both; }
.trow .name { line-height: 18px; float: left; width: 100px; text-align: right; }
.trow .name:after { content: ":"; }
.trow .value { line-height: 18px; padding-left: 110px; }

/*ktinfo*/
.ktinfo { padding: 20px 10px 15px; }
.ktinfo .trow { line-height: 18px; padding-bottom: 5px; }
.ktinfo .trow .name { width: 100px; text-align: right; }
.ktinfo .trow .value { padding-left: 110px; }
.ktinfo a { color: #00b7f4; text-decoration: none; }
.ktinfo a:hover { border-bottom: solid 1px #00b7f4; text-decoration: none; }

/*panel-info*/
.panel-info .card { height: 100%; }
.panel-info .card__middle-scroll { flex: 1 1 auto; overflow: auto; }

.panel-info .tabs__tab .button {}

.panel-info .tabs__pane { padding: 0; }
.panel-info .tabs__pane { overflow-y: auto; height: 100%; }
.panel-info .tabs__pane a.dcjq-parent { padding: 10px 10px; border-bottom: solid 1px #ddd; color: #333; display: flex; align-items: flex-start; justify-content: space-between; }
.panel-info .tabs__pane a.dcjq-parent .counts { display: flex; justify-content: flex-end; }
.panel-info .tabs__pane a.dcjq-parent .dcjq-icon { display: none; }

.panel-info .tabs__pane ul li a,
.panel-info .tabs__pane ul li a:hover { text-decoration: none; }
.panel-info .tabs__pane ul { list-style: none; margin: 0; padding: 0; }
.panel-info .tabs__pane ul.sub { padding: 5px; border-bottom: solid 1px #ddd; }
.panel-info .tabs__pane ul.sub li:after { content: " "; display: table; clear: both; }
.panel-info .tabs__pane ul.sub li:hover a { color: #00b7f4; }
.panel-info .tabs__pane ul.sub li .btn { box-shadow: none; margin: 5px 5px 5px 10px;; float: right; color: #999; background-color: #fff; font-size: 11px !important; padding: 0 5px; line-height: 18px; border: solid 1px #ccc; }
.panel-info .tabs__pane ul.sub li:hover .btn {	text-shadow: none; background-color: #fff; color: #333; }
.panel-info .tabs__pane ul.sub li:hover .btn:hover { opacity: 1; border-color: #aaa; cursor: pointer; }
.panel-info .tabs__pane ul.sub li a { display: block; padding: 5px; color: #333; line-height: 20px; }
.panel-info .tabs__pane ul.sub li a.selected { color: #ff4800; }
.panel-info .tabs__pane ul.sub li a:hover { border: none; }
.panel-info .tabs__pane ul.sub li a.selected:hover { color: #b05df4; }

.panel-info .tabs__pane span.dcjq-count { margin-left: 10px; }
.panel-info .tabs__pane span.dcjq-count.selected { color: #ff4800; }

.panel-info .tabs__pane .dcjq-parent .btn { box-shadow: none; margin-right: 0; margin-left: 10px; float: right; text-shadow: none; background-color: #fff; color: #333; font-size: 11px !important; padding: 0 5px; line-height: 18px; border: solid 1px #ccc; }
.panel-info .tabs__pane .dcjq-parent .btn:hover { opacity: 1; border-color: #aaa; cursor: pointer; }

/*panel-info sortable*/
.panel-info .tabs__pane .sortable-ghost { background-color: #eee; }