.card__header {
    background: #303548;
    border-bottom: solid 1px #474c63;
}
.card__header_transparent {
    background: transparent;
    border: none;
}
.card__header .button {
    background: #595d6d;
}
.card__header .button_hovered {
    background: #2dceb6;
}
.card__header .button_highlighted {
    background: #2dceb6;
}
.card__header .button_highlighted.button_hovered {
    background: #595d6d;
}
.card__header .select__container.select_checked > .button {
    background: #2dceb6;
}
.card__header .button:before {
    background: #303548;
}
.card__header .button__text {
    color: #fff;
}
.card__header .button .button__text_placeholder,
.card__header a.button .button__text_placeholder,
.card__header a.button:hover .button__text_placeholder {
    color: #999;
}
.card__header .input {
    background: #595d6d;
}
.card__header .input_focused {
    background: #2dceb6;
}
.card__header .input_focused:before {}
.card__header .input:before {
    background: #303548;
}
.card__header .input__control {
    color: #fff;
}
.card__header .input_filled {
    background: #2dceb6;
}
.card__header .input__box .button,
.card__header .input__box .button:before {
    background: transparent;
}
.card__header .card__name-text {
    color: #fff;
    font-size: 15px;
}
.card__header_transparent .card__name-text {
    margin: 0 10px;
}

.widget .card__header {
    background: transparent;
    border-bottom: none;
}
.widget__register > .card > .card__header {
    background: #303548;
    border-bottom: solid 1px #474c63;
}
.card__left-renu {
    background: transparent;
    border-right: solid 1px #474c63;
}
