.card__name-text {
    font-size: 15px;
}
.card__header_transparent {
    background: transparent;
    border: none;
}
.card__header_transparent .card__name-text {
    color: #fff;
    margin: 0 10px;
}

/*.widget-grid_multiple*/ .widget .card__header {
    background: transparent;
    border-bottom: none;
}
/*.widget-grid_multiple*/ .widget .card__header .button {
    background: #595d6d;
    /*background: #474c63;*/
}
/*.widget-grid_multiple*/ .widget .card__header .button_hovered {
    background: #2dceb6;
}
/*.widget-grid_multiple*/ .widget .card__header .button:before {
    background: #303548;
}
/*.widget-grid_multiple*/ .widget .card__header .button__text {
    color: #fff;
}
/*.widget-grid_multiple*/ .widget .card__header .popup .alertbox,
/*.widget-grid_multiple*/ .widget .card__header .popup .button {
    background: transparent;
}
/*.widget-grid_multiple*/ .widget .card__header .popup .alertbox:before,
/*.widget-grid_multiple*/ .widget .card__header .popup .button:before {
    background: transparent;
}
/*.widget-grid_multiple*/ .widget .card__header .card__name-text {
    color: #fff;
}
/*.widget-grid_multiple*/ .widget .card__header .button .button__text_placeholder,
/*.widget-grid_multiple*/ .widget .card__header a.button .button__text_placeholder,
/*.widget-grid_multiple*/ .widget .card__header a.button:hover .button__text_placeholder {
    color: #999;
}

.widget__register > .card > .card__header,
.fs-view__middle-scroll > .card > .card__header {
    background: #303548;
    border-bottom: solid 1px #474c63;
}
.fs-view__middle-scroll > .card > .card__header_transparent {
    background: transparent;
    border: none;
}
.fs-view__middle-scroll > .card > .card__header .button {
    background: #595d6d;
}
.fs-view__middle-scroll > .card > .card__header .button_hovered {
    background: #2dceb6;
}
.fs-view__middle-scroll > .card > .card__header .button_highlighted {
    background: #2dceb6;
}
.fs-view__middle-scroll > .card > .card__header .button_highlighted.button_hovered {
    background: #595d6d;
}
.fs-view__middle-scroll > .card > .card__header .select__container.select_checked > .button {
    background: #2dceb6;
}
.fs-view__middle-scroll > .card > .card__header .button:before {
    background: #303548;
}
.fs-view__middle-scroll > .card > .card__header .button__text {
    color: #fff;
}
.fs-view__middle-scroll > .card > .card__header .button .button__text_placeholder,
.fs-view__middle-scroll > .card > .card__header a.button .button__text_placeholder,
.fs-view__middle-scroll > .card > .card__header a.button:hover .button__text_placeholder {
    color: #999;
}

.widget .card__header .input {
    background: #595d6d;
}
.widget .card__header .input_focused {
    background: #2dceb6;
}
.widget .card__header .input_focused:before {}
.widget .card__header .input:before {
    background: #303548;
}
.widget .card__header .input__control {
    color: #fff;
}
.widget .card__header .input_filled {
    background: #2dceb6;
}
.widget .card__header .input__box .button,
.widget .card__header .input__box .button:before {
    background: transparent;
}
