.tabs {
    display: block;
    padding: 0 0 0 0;
    box-sizing: border-box;
}
.tabs__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.tabs__tab {
    position: relative;
    margin-right: 10px;
    display: block;
    margin-bottom: -1px;
}
.tabs__tab_active {}
.tabs__tab_active .button:before {
    bottom: 0;
}

/*
.tabs__tab_active:before {
    content: '';
    position: absolute;
    top: 100%;
    bottom: -1px;
    left: 1px;
    right: 1px;
    background-color: #fff;
}
*/

.tabs__tab .button {
    border-radius: 3px 3px 0 0;
}
.tabs__tab .button.button_disabled:before { display: block; }
.tabs__tab .button.button_hovered { background-color: #aaa; }
.tabs__tab .button:before {
    border-radius: 2px 2px 0 0;
    background-color: #fafafa;
}

.tabs__tab_active .button {
    background-color: #ccc;
}
.tabs__tab_active .button:before {
    background-color: #fff;
}
.tabs__link {
    display: flex;
}

.tabs__pane {
    display: none;
    visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.tabs__pane_active {
    display: block;
    visibility: visible;
}

.tabs__pane .control:last-child {
    padding-bottom: 0;
}
