.card__header + .card__main > .card__middle > .card__middle-scroll > .widget-grid_multiple {
    margin: 9px 9px 18px;
}
.card__header_transparent + .card__main > .card__middle > .card__middle-scroll > .widget-grid_multiple {
    margin: 0 9px 18px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.grid-stack.grid-stack-one-column-mode > .grid-stack-item {
    margin-bottom: 10px;
}
