.tooltip {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    padding: 5px 0;
    display: none;
    position: absolute;
    z-index: 9999;
    opacity: 1;
    max-width: 300px;
}
.tooltip_visible {
    display: block;
}
.tooltip__text {
    color: #fff;
    background-color: rgba(51,51,51,.85);
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 13px;
    box-sizing: border-box;
    max-width: 300px;
}
.tooltip__arrow {
    position: absolute;
    left: 50%;
}
.tooltip__arrow_top {
    bottom: 0;
    border-top: solid 5px rgba(51,51,51,.85);
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    border-bottom: none;
}
.tooltip__arrow_bottom {
    top: 0;
    border-bottom: solid 5px rgba(51,51,51,.85);
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    border-top: none;
}