.asyst_editform {
    visibility: visible;
    padding: 0;
}
.asyst_editform .container {
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    border-radius: 0;
    overflow: hidden;
}

.asyst_editform .form-horizontal {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    line-height: normal;
}
.asyst_editform .form-horizontal .control-group {
    margin: 0 0 10px 0;
}

.asyst_editform .nav-tabs {
    padding-top: 10px !important;
    margin-bottom: 0 !important;
    border-color: #ccc;
    flex: 0 0 auto;
}
.asyst_editform .nav-tabs > li > a {
    margin: 0 0 0 10px;
    padding: 0 10px;
    line-height: 28px;
    border-radius: 3px !important;
    color: #999;
}
.asyst_editform .nav-tabs > li > a:hover {
    border-bottom: solid 1px #ccc;
    background-color: #eee;
}
.asyst_editform .nav-tabs > li.active > a,
.asyst_editform .nav-tabs > li.active > a:hover {
    background-color: #fff;
    border: solid 1px #ccc;
    border-bottom: solid 1px transparent;
    box-shadow: none;
    color: #333;
}

.asyst_editform .tab-content {
    flex: 1 1 auto;
    padding-top: 20px;
    overflow: auto;
    border: none;
}
.asyst_editform .tab-pane {
    margin: 0 20px;
}

.asyst_editform .dbPanel {
    margin-bottom: 10px;
}
.asyst_editform .cardCode {
    margin: 0 0 10px;
}

.asyst_editform [class^="span"] {
    width: auto !important;
}