.header {
    align-items: stretch;
    background: url('header-wave.png') repeat-x bottom;
}

.header__column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.header__column:first-child {
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: space-between;
}
.header__column:nth-child(2) {
    flex: 0 0 auto;
}
.header__column:nth-child(3) {
    padding-bottom: 0;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.header__column:nth-child(3) > * {
    margin: 0 20px 0 0!important;
}
.header__column:last-child {
    flex: 0 0 auto;
    align-items: flex-end;
    justify-content: space-between;
}
.header__column > .header__column {
    margin: 0 !important;
    padding: 0;
}
.header__tumbler-container {
    flex-direction: row;
}
.header__row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.header__row > * {
    margin-right: 10px;
}

.header__logo {
    width: 70px;
    height: 70px;
    background: url('heraldry_small_blue.png') center center no-repeat;
    background-size: contain;
}

.header__column_tank {
    width: 66px;
    background: url('header-tank.png') no-repeat center bottom;
}
.header__column_station {
    width: 96px;
    background: url('header-station.png') no-repeat center bottom;
}
.header__column_ship {
    width: 96px;
    background: url('header-ship.png') no-repeat center bottom;
}
.header__column_flip {
    transform: scaleX(-1);
    filter: FlipH;
}