.header {
    align-items: stretch;
    background: url('header-wave.png') repeat-x bottom;
}

.header__column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.header__column:first-child {
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: space-between;
}
.header__column:nth-child(2) {
    flex: 0 0 auto;
}
.header__column:nth-child(3) {
    flex: 1 1 auto;
    background: url('header-icons.png') no-repeat center;
    background-position-y: 10px;
}
.header__column:last-child {
    flex: 0 0 auto;
    align-items: flex-end;
    justify-content: space-between;
}
.header__column > .header__column {
    margin: 0 !important;
    padding: 0;
}
.header__tumbler-container {
    flex-direction: row;
}
.header__row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.header__row > * {
    margin-right: 10px;
}

.header__logo {
    width: 70px;
    height: 70px;
    background: url('heraldry_small_blue.png') center center no-repeat;
    background-size: contain;
}
