/wwwroot/cs
/wwwroot/de
/wwwroot/ko
/wwwroot/es
/wwwroot/fr
/wwwroot/it
/wwwroot/ja
/wwwroot/zh-Hant
/wwwroot/pl
/wwwroot/pt-BR
/wwwroot/tr
/wwwroot/zh-Hans
/PMPractice.git.pull.webhook.exe
/wwwroot/.idea
/wwwroot/.vs
.vs/
/wwwroot/user_doc
.idea
LocalFiles
/wwwroot/domain/lucene
.vscode
/wwwroot/domain/bundle_tmp
/wwwroot/domain/bundle/bundle_tmp
/node_modules
/package-lock.json
/wwwroot/wwwroot/gulp/node_modules/
/wwwroot/domain/user_attachments
/wwwroot/domain/app/bundle
/cypress/videos
/cypress/screenshots
.DS_Store
wwwroot/_ReSharper.Caches/
/wwwroot/web.config
/wwwroot/appsettings*.json
