.widget-grid {
    margin: 20px 10px;
    box-sizing: content-box;
}
.widget-grid.grid-stack > .grid-stack-item > .grid-stack-item-content {
    left: 10px;
    right: 10px;
}

.widget-grid_closely {
    margin: 10px 5px;
    box-sizing: content-box;
}
.widget-grid_closely.grid-stack > .grid-stack-item > .grid-stack-item-content {
    left: 5px;
    right: 5px;
}

.widget-grid_single,
.widget-grid_single.grid-stack.grid-stack-one-column-mode {
    margin: 0;
    height: 100% !important;
}
.widget-grid_single > .grid-stack-item {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content {
    left: 0 !important;
    right: 0 !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget {
    padding: 0 !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__border {
    border: none !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__border > .widget__body {
    padding-top: 0 !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__header {
    top: 10px !important;
    right: 0 !important;
    left: auto !important;
    width: auto !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__header .button {
    line-height: 30px !important;
    height: 30px !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__header .button_collapse {
    display: none !important;
}
.widget-grid_single > .grid-stack-item > .grid-stack-item-content > .widget > .widget__header > .widget__header-actions {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.5);
}

.widget-grid_margin_none {
    margin-left: 0;
    margin-right: 0;
}