@media (max-width: 1250px) {
    .header__column_ship {
        display: none;
    }
}
@media (max-width: 1168px) {}
@media (max-width: 1050px) {
    .header__column_station {
        display: none;
    }
}
@media (max-width: 768px) {
    .header {
        background: none;
        border-bottom: solid 3px #2057a7;
    }
    .header__column {
        padding-bottom: 0;
    }
    .header__column_station {
        display: block;
    }
}
@media (max-width: 550px) {
    .header__column_tank {
        display: block;
    }
    .header__column_station {
        display: none;
    }
    .header__column_ship {
        display: none;
    }
}


