.button-group {
    display: inline-flex;
    white-space: nowrap;
}

.button-group .button+.button { margin-left: -1px; }
.button-group .button.button_hovered { z-index: 1; }

.button-group .button { border-radius: 0; }
.button-group .button:before { border-radius: 0; }
.button-group .button:first-child { border-radius: 3px 0 0 3px; }
.button-group .button:first-child:before { border-radius: 2px 0 0 2px; }
.button-group .button:last-child { border-radius: 0 3px 3px 0; }
.button-group .button:last-child:before { border-radius: 0 2px 2px 0; }
