.button-group {
    display: inline-flex;
    white-space: nowrap;
    flex-wrap: nowrap !important;
}

.button-group .button + .button { margin-left: -1px; }
.button-group .button.button_hovered { z-index: 1; }

.button-group > .button { border-radius: 0; }
.button-group > .button:before { border-radius: 0; }
.button-group > .button:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.button-group > .button:first-child:before { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.button-group > .button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.button-group > .button:last-child:before { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

/* ------------------------------------------------- */
/* --- for select first or last element in group --- */

.button-group .select__container + .button,
.button-group .button + select + .select__container { margin-left: -1px; }

.button-group > :first-child + .select__container > .button { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.button-group > :first-child + .select__container > .button:before { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.button-group > :first-child + .select__container + .button { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.button-group > :first-child + .select__container + .button:before { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.button-group > .select__container:last-child > .button { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.button-group > .select__container:last-child > .button:before { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

/* --- for select first or last element in group --- */
/* ------------------------------------------------- */
