.modal__ {}
.modal_hidden {
    display: none;
    visibility: hidden;
}

.modal__view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    /*overflow: hidden;*/
    color: #333;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.modal__view_align_center_center {
    justify-content: center;
    align-items: center;
}
.modal__view_align_top_center {
    justify-content: center;
    align-items: flex-start;
}
.modal__view_align_top_right {
    justify-content: flex-end;
    align-items: flex-start;
}
.modal__view_align_center_right {
    justify-content: flex-end;
    align-items: center;
}
.modal__view_align_bottom_right {
    justify-content: flex-end;
    align-items: flex-end;
}
.modal__view_align_bottom_center {
    justify-content: center;
    align-items: flex-end;
}
.modal__view_align_bottom_left {
    justify-content: flex-start;
    align-items: flex-end;
}
.modal__view_align_center_left {
    justify-content: flex-start;
    align-items: center;
}
.modal__view_align_top_left {
    justify-content: flex-start;
    align-items: flex-start;
}

.modal__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(51,51,51,.25);
}

.modal__dialog {
    position: relative;
    width: 768px;
    min-height: 200px;
    max-height: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.25);
    transition: 0.25s;
    opacity: 1;
    display: flex;
    flex-direction: column;

    /*overflow: hidden;*/
}
.modal__dialog_hidden {
    margin-top: -100%;
    opacity: 0;
}
.modal__dialog_absolute {
    position: absolute;
}
.modal__dialog_draggable {
    transition: none;
}
.modal__dialog_draggable .card__header,
.modal__dialog_draggable .card__header label{
    cursor: move;
}

.modal__dialog_handle {
    position: absolute;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    z-index: 1;
}
.modal__dialog_handle_NE {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.modal__dialog_handle_NN {
    top: -5px;
    left: 0;
    width: 100%;
    cursor: n-resize;
}
.modal__dialog_handle_NW {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.modal__dialog_handle_WW {
    left: -5px;
    top: 0;
    height: 100%;
    cursor: w-resize;
}
.modal__dialog_handle_EE {
    right: -5px;
    top: 0;
    height: 100%;
    cursor: e-resize;
}
.modal__dialog_handle_SW {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
.modal__dialog_handle_SS {
    bottom: -5px;
    left: 0;
    width: 100%;
    cursor: s-resize;
}
.modal__dialog_handle_SE {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.modal__dialog_handle:hover {
    background: rgba(90, 151, 242, .5);
}
.modal__dialog_handle_NE:hover {
    border-left: solid 1px #5a97f2;
    border-bottom: solid 1px #5a97f2;
}
.modal__dialog_handle_NN:hover {
    border-bottom: solid 1px #5a97f2;
}
.modal__dialog_handle_NW:hover {
    border-right: solid 1px #5a97f2;
    border-bottom: solid 1px #5a97f2;
}
.modal__dialog_handle_WW:hover {
    border-right: solid 1px #5a97f2;
}
.modal__dialog_handle_EE:hover {
    border-left: solid 1px #5a97f2;
}
.modal__dialog_handle_SW:hover {
    border-right: solid 1px #5a97f2;
    border-top: solid 1px #5a97f2;
}
.modal__dialog_handle_SS:hover {
    border-top: solid 1px #5a97f2;
}
.modal__dialog_handle_SE:hover {
    border-left: solid 1px #5a97f2;
    border-top: solid 1px #5a97f2;
}

.modal__dialog_size_xs {
    width: 320px;
    min-height: auto;
}
.modal__dialog_size_xs_max {
    width: 320px;
    height: 100%;
}
.modal__dialog_size_sm {
    width: 425px;
    min-height: auto;
}
.modal__dialog_size_sm_max {
    width: 425px;
    height: 100%;
}
.modal__dialog_size_md {
    width: 600px;
    min-height: auto;
}
.modal__dialog_size_md_max {
    width: 600px;
    height: 100%;
}
.modal__dialog_size_lg {
    width: 1024px;
    min-height: auto;
}
.modal__dialog_size_lg_max {
    width: 1024px;
    height: 100%;
}
.modal__dialog_size_max {
    width: 100%;
    height: 100%;
}

.modal_fullscreen .modal__view {
    padding: 10px;
}
.modal_fullscreen .modal__dialog {
    width: 100%;
}