.modal__ {}
.modal_hidden {
    display: none;
    visibility: hidden;
}

.modal__view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    /*overflow: hidden;*/
    color: #333;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(51,51,51,.25);
}

.modal__dialog {
    position: relative;
    width: 768px;
    min-height: 200px;
    max-height: 100%;
    z-index: 2;
    background-color: #fff;
    /*box-shadow: 0 5px 10px rgba(51,51,51,.25);*/
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.25);
    /*overflow: hidden;*/
    transition: 0.25s;
    opacity: 1;

    display: flex;
    flex-direction: column;
}
.modal__dialog_hidden {
    margin-top: -100%;
    opacity: 0;
}

.modal_fullscreen .modal__view {
    padding: 10px;
}
.modal_fullscreen .modal__dialog {
    width: 100%;
}