.menu_color_pink {
    background-color: #e5007c;
}

.menu_type_horizontal .menu__item-text {
    font-size: 14px;
}
.menu_type_horizontal .menu__item-link {
    padding: 12px 15px;
}
.menu_type_horizontal .menu__submenu .menu__item-link {
    padding-left: 15px;
}
.menu_type_horizontal .menu__item-link:hover,
.menu_type_horizontal .menu__item-link_hovered {
    background-color: #0096de;
}
.menu_type_horizontal .menu__submenu-container {
    background-color: #0096de;
}
.menu_type_horizontal .menu__submenu-container:after {
    content: '';
    width: 100%;
    height: 48px;
    left: 0;
    bottom: -48px;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(189deg, #0096de 49%, transparent 50%);
    background-repeat: no-repeat;
    background-size: cover;
}
