.menu {
    background-color: #e5007c;
}
.menu__item-text {
    /*font-size: 15px;*/
}
.menu__item-link {
    padding: 12px 15px;
}
.menu__item-link:hover {
    background-color: #0096de;
}
.menu .menu__submenu-container {
    background-color: #0096de;
}
