.menu_color_darksight {
    background: #1a1e2a;
}

.menu_color_darksight .menu__item,
.menu_color_darksight .menu__submenu-container {
    background: #1a1e2a;
    border: none;
}
.menu_color_darksight .menu__submenu-container .menu__item {
    background: #303548;
}
.menu_color_darksight .menu__item-link {
    padding: 12px 18px;
}
.menu_color_darksight .menu__item-link_selected,
.menu_color_darksight .menu__item-link:hover,
.menu_color_darksight .menu__item-link_hovered {
    background: #2dceb6;
}
.menu_color_darksight .menu__submenu-container .menu__item-link {
    padding: 12px 18px;
}
.menu_color_darksight .menu__submenu-container .menu__item-link_selected,
.menu_color_darksight .menu__submenu-container .menu__item-link:hover,
.menu_color_darksight .menu__submenu-container .menu__item-link_hovered {
    background: #2dceb6;
}

.menu_color_darksight .icon+.menu__item-text {
    padding-left: 20px;
}
.menu_color_darksight .menu__submenu .menu__item {
    border-top: none;
}

.fs-view__left_hidden .menu_color_darksight {
    width: 50px;
    background: #1a1e2a;
    overflow: visible;
}
.fs-view__left_hidden .menu_color_darksight .menu__item-text,
.fs-view__left_hidden .menu_color_darksight .menu__item-text + .icon {
    display: none;
}
.fs-view__left_hidden .menu_color_darksight .menu__submenu-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 230px;
    border-left: solid 1px #2dceb6;
    z-index: 2;
}

.fs-view__left_hidden .menu_color_darksight .menu__submenu .menu__item {
    border-top: none;
    background: #1a1e2a;
}
.fs-view__left_hidden .menu_color_darksight .menu__submenu-container .menu__item-link {
    padding: 12px 18px;
}
.fs-view__left_hidden .menu_color_darksight .menu__submenu-container .menu__item-link_selected,
.fs-view__left_hidden .menu_color_darksight .menu__submenu-container .menu__item-link:hover,
.fs-view__left_hidden .menu_color_darksight .menu__submenu-container .menu__item-link_hovered {
    background: #2dceb6;
}

.fs-view__left_hidden .menu_color_darksight .menu__submenu-container .menu__item-text {
    display: block;
}
.fs-view__left_hidden .menu__item-link_selected {
}

.menu_color_light {
    background-color: #393e52;
    border-right: none;
}
.menu_color_light .menu__item-link {
    background: transparent;
}
.menu_color_light .menu__item-link .menu__item-text {
    color: #fff;
}
.menu_color_light .menu__item-link_disabled .menu__item-text {
    color: #999;
}
.menu_color_light .menu__item-link_selected .menu__item-text {
    color: #2dceb6;
}
.menu_color_light.menu_position_right {
    border-left: none;
}
