@media (max-width: 768px) {
    .card__left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        /*border-right: solid 1px #ddd;*/
        /*box-shadow: 0 0 0 1px rgba(0,0,0,.1), 5px 0 10px -5px rgba(51,51,51,.15);*/
        /*box-shadow: 5px 0 20px -5px rgba(51,51,51,.1)*/
    }
    .card__left_hidden {}
    .card__left_renu {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .card__left-renu {
        width: 100%;
        height: 100%;
        border-right: none;
    }
    .card__right {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-left: solid 1px #ddd;
        /*box-shadow: 0 0 0 1px rgba(0,0,0,.1), -5px 0 10px -5px rgba(51,51,51,.15);*/
        /*box-shadow: -5px 0 20px -5px rgba(51,51,51,.1)*/
    }
    .card__right_hidden {}
    .card__middle {}
    .card__middle-inner {}
    .card__backdrop {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(51,51,51,.1);
    }
    .card__header-column_nowrap {
        flex-wrap: wrap;
    }
    .card__header-column_flex_0-0-auto {
        flex: auto;
    }
}
