@media (max-width: 768px) {
    .card__right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    .card__right_hidden {
        margin-right: -300px;
    }
    .card__middle {
        right: 0;
    }
    .card__middle-inner {}
    .card__backdrop {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(51,51,51,.05);
    }
}
