.fs-view {
    z-index: 3;
}
.fs-view__header {
    z-index: 2;
    box-shadow: none;
}
.fs-view__left {
    background: #2057a7;
    background: linear-gradient(to right,#1e81c2 0,#2057a7 100px,#2057a7 100%);
}
.fs-view__main {
    z-index: 1;
    box-shadow: none;
    overflow: visible;
}

.fs-view__background-left {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('bg-left.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}
.fs-view__background-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('bg-right.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.fs-view__background-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('bg-center.png');
    background-repeat: no-repeat;
    background-position: center center;
}
