.input {
    font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}
.input__control {
    font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}
.input .input__control {
    font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}
