.header {
    font-family: 'ProximaNova-Regular';
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
}

.header_second {
    background-color: #fafafa;
}

.header__column {
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.header__column:first-child {
    padding-left: 10px;
}
.header__column:last-child {
    justify-content: flex-end;
}

.header__column-item {
    margin: 0 10px 10px 0 !important;
}
.header__column-item.radio-group.radio-group_type_buttons {
    margin-bottom: 0 !important;
}

.header__name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    line-height: 30px;
    font-size: 20px;
}