.radio {
    font-family: 'ProximaNova-Regular';
    margin-top: 15px;
}
.radio__input {
    display: none;
    visibility: hidden;
}
.radio__label {
    font-size: 13px;
    color: #444;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}
.radio__label::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    left: 0;
    border: solid 2px #ddd;
    border-radius: 7px;
}
.radio__input:checked + .radio__label::before {
    border: solid 2px #4983c4;
    background-color: #4983c4;
}
.radio__input:disabled + .radio__label::before {
    background-color: #ddd;
    opacity: .5;
}
.radio__input:checked:disabled + .radio__label::before {
    background-color: #4983c4;
    opacity: .5;
}
