.radio {
    font-family: 'ProximaNova-Regular';
}
.radio.radio_hidden {
    display: none;
    visibility: hidden;
}
.radio__input {
    display: none;
    visibility: hidden;
}
.radio__label {
    font-size: 13px;
    color: #444;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
}
.radio__label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px #ddd;
    border-radius: 7px;
}
.radio__input:checked + .radio__label::before {
    border: solid 2px #4983c4;
    background-color: #4983c4;
}
.radio__input:checked + .radio__label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #fff;
    border-radius: 7px;
}
.radio__input:disabled + .radio__label {
    color: #999;
    cursor: default;
}
.radio__input:disabled + .radio__label::before {
    background-color: #ccc;
    border-color: #ccc;
    opacity: .5;
}
.radio__input:checked:disabled + .radio__label::before {
    background-color: #4983c4;
    border-color: #4983c4;
    opacity: .5;
}

.radio_type_line {
    margin-right: 15px;
}
.radio_type_button {
    display: inline-flex;
    max-width: 100%;
}
