.header { background: transparent; }
.header__caption {
    font-size: 18px;
    font-style: italic;
    line-height: normal;
    text-align: center;
    padding: 4px 0;
}
.header__column > .header__column {
    margin: 0 !important;
    padding: 0;
}
