.header { background: transparent; }
.header__caption {
    font-size: 18px;
    font-style: italic;
    line-height: normal;
    text-align: center;
    padding: 4px 10px;
    box-sizing: border-box;

    background-color: #2057a7;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.header__caption:hover {
    background-color: #1e81c2;
    text-decoration: none;
    color: #fff;
}
.header__column > .header__column {
    margin: 0 !important;
    padding: 0;
}
