.checkbox {
    font-family: 'ProximaNova-Regular';
    touch-action: manipulation;
}
.checkbox.checkbox_hidden {
    display: none;
    visibility: hidden;
}
.checkbox__input {
    display:none;
    visibility: hidden;
}
.checkbox__label {
    font-size: 13px;
    color: #444;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
}
.checkbox__label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px #ddd;
}

.checkbox__input:checked + .checkbox__label::before {
    border: solid 2px #5a97f2;
    background-color: #5a97f2;
    /*background-color: #4983c4;*/
}
.checkbox__input:checked + .checkbox__label:after {
    content: '';
    width: 6px;
    height: 3px;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
}

.checkbox__input:disabled + .checkbox__label {
    color: #999;
    cursor: default;
}
.checkbox__input:disabled + .checkbox__label::before {
    background-color: #ddd;
    opacity: .5;
}
.checkbox__input:checked:disabled + .checkbox__label::before {
    background-color: #5a97f2;
    opacity: .5;
}

.checkbox_type_line {
    margin-right: 15px;
}
.checkbox_type_button {
    display: inline-flex;
    max-width: 100%;
}
