.counter {
    justify-content: flex-end;
}
.counter .alertbox-group .alertbox {
    width: 20px;
    border-radius: 0;
}
.counter .alertbox-group .alertbox:before {
    border-radius: 0;
}
.counter .alertbox-group .alertbox {
    background-color: #e5007c;
}
.counter .alertbox__text {
    color: #e5007c;
}
