.fs-view {
    z-index: 3;
    background: url('background.png') left top no-repeat #1e2434;
}
.fs-view__header {
    z-index: 2;
    box-shadow: none;
}
.fs-view__left {}
.fs-view__main {
    z-index: 1;
    box-shadow: none;
}
.fs-view__left_hidden {
    margin-left: 0;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
.fs-view__main_transition .menu_color_darksight {
    transition: .5s;
}
