.fs-view__middle {
  /*
    background-color: #fff;
    */
}

.widget {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  margin-top: 10px;
  padding-top: 0;
}

.widget__header {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  background-color: #fff;
  padding: 0 5px;
}

.widget_has_name,
.widget_mode_view_has_buttons,
.widget_mode_view_has_buttons {
  min-height: 40px;
}

.widget__header .button {
  height: 40px;
  line-height: 1.2;
}

.widget__header .button__text {
  min-height: 20px;
  font-size: 15px;
  font-weight: bold;
}

.widget__border {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.widget__body {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0;
}



.widget__body-data_type_text {
  padding: 5px;
}

.widget_color_default {
  color: #333;
}

.widget_color_default .widget__border {
  border: none;
}

.widget_color_dark_grey {
  color: #333;
  border-color: #777;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
}

.widget_color_dark_grey .widget__border {
  border: none;
}

.widget_color_dark_blue {
  color: #0070ba;
  border-color: #0070ba;
  box-shadow: 0 0 10px #0070ba33;
}

.widget_color_dark_blue .widget__border {
  border: none;
}

.widget_color_blue {
  color: #5a97f2;
  border-color: #5a97f2;
  box-shadow: 0 0 10px #5a97f233;
}

.widget_color_blue .widget__border {
  border: none;
}

.widget_color_light_blue {
  color: #2fb4e9;
  border-color: #2fb4e9;
  box-shadow: 0 0 10px #2fb4e933;
}

.widget_color_light_blue .widget__border {
  border: none;
}

.widget_color_nodata {
  color: #aaa;
  border-color: #e5e5e5;
  box-shadow: 0 0 10px #e5e5e533;
}

.widget_color_nodata .widget__border {
  border: none;
}

.widget_color_purple {
  color: #8e6bf5;
  border-color: #8e6bf5;
  box-shadow: 0 0 10px #8e6bf533;
}

.widget_color_purple .widget__border {
  border: none;
}

.widget_color_red {
  color: #ff5940;
  border-color: #ff5940;
  box-shadow: 0 0 10px #ff594033;
}

.widget_color_red .widget__border {
  border: none;
}

.widget_color_green {
  color: #13a89e;
  border-color: #13a89e;
  box-shadow: 0 0 10px #13a89e33;
}

.widget_color_green .widget__border {
  border: none;
}

.card__name-text {
  font-size: 15px;
  font-weight: bold;
}

.card__header .button__text {
  font-weight: bold;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}