.fs-view {
  z-index: 3;
}

.fs-view__header {
  z-index: 2;
  box-shadow: none;
}



.fs-view__main {
  z-index: 1;
  box-shadow: none;
  /*overflow: visible;*/
}

.fs-view__background-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("images/kzk2018/bg-left.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.fs-view__background-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("images/kzk2018/bg-center.png");
  background-repeat: no-repeat;
  background-position: center 300px;
}

.header {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: url("images/kzk2018/header-wave.png") repeat-x bottom;
}

.header__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 10px;
}

.header__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__column:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("images/kzk2018/header-icons.png") no-repeat center;
  background-position-y: 10px;
}

.header__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column > .header__column {
  margin: 0 !important;
  padding: 0;
}

.header__tumbler-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__row > * {
  margin-right: 10px;
}

.header__logo {
  width: 70px;
  height: 70px;
  background: url("images/kzk2018/heraldry_small_blue.png") center center no-repeat;
  background-size: contain;
}

.button_color_blue:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1e81c2;
}

.button_border_blue {
  background: #0096de;
  border-radius: 4px;
}

.button_border_blue:before {
  border-radius: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}

.button_border_dark_blue {
  background: #2057a7;
  border-radius: 4px;
}

.button_border_dark_blue:before {
  border-radius: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}

.menu_color_kzk {
  background: #2057a7;
}

.menu_color_kzk .menu__item-link_selected,
.menu_color_kzk .menu__item-link:hover,
.menu_color_kzk .menu__item-link_hovered {
  background-color: inherit;
  opacity: .5;
}



.menu_color_kzk .menu__submenu-container {
  background-color: #1e81c2;
  box-shadow: rgba(51, 51, 51, 0.5) 0px 10px 20px -5px;
  border-right: none;
}

.menu_color_kzk .menu__submenu .menu__item {
  border-top: solid 1px rgba(255, 255, 255, .1);
}

.menu_color_kzk .menu__submenu .menu__item-link_selected {
  background-color: #2057a7;
}

.menu_color_kzk .menu__submenu .menu__item-link:hover {
  background-color: transparent;
  opacity: .5;
}



.menu_type_horizontal .menu__item-text {
  font-size: 14px;
}

.menu_type_horizontal .menu__item-link {
  padding: 12px 15px;
}

.menu_type_horizontal .menu__submenu .menu__item-link {
  padding-left: 15px;
}

.link {
  color: #08c;
}

.counter {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.counter .alertbox {
  width: 20px;
  min-width: 20px;
  background-color: transparent;
  border-radius: 0;
}

.counter .alertbox:before {
  background-color: transparent;
  border-radius: 0;
}

.counter .alertbox__text {
  font-weight: bold;
  color: #2057a7;
}

.counter__date:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.counter__date .alertbox__text {
  color: #2057a7;
  line-height: 13px;
  padding-left: 7px;
  margin: 0;
}

.alertbox_color_blue:before,
.alertbox_color_blue .button:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1e81c2;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.copyright {
  background-color: #0096de;
  font-size: 14px;
  padding: 8px 10px;
}

.grid img {
  width: 20px;
  height: 24px;
  display: block;
}

.slick-group {
  font-weight: normal;
  color: #08c;
}

.slick-row a {
  color: #08c;
  text-decoration: none;
}

@media (max-width: 1168px) {
  .header__column:nth-child(3) {
    background: none;
  }
}

@media (max-width: 768px) {
  .header {
    background: none;
  }

  .header__column {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .menu_color_krm {
    background: #2057a7;
  }

  .menu_color_krm > .menu__list {
    margin-left: 0;
  }

  .menu_color_krm .menu__submenu-container {
    box-shadow: none;
  }

  .menu_color_krm .menu__item-link {
    padding: 12px 10px;
  }

  .menu_color_krm .menu__submenu {
    background: #1e81c2;
  }

  .menu_color_krm .menu__submenu .menu__item-link {
    padding-left: 20px;
  }

  .menu_color_krm .menu__submenu-container:after {
    display: none;
  }

  .menu_color_krm .menu__list {
    background: none;
  }
}