*,
.page {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.fs-view {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.header {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.button {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.popup {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.popup__text {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.menu * {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.link {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.article {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.heading {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.paragraph {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.widget {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.visit {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.codearea {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.counter {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.gallery {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.calendar__container {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.carousel {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.checkbox {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.radio {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.tumbler {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.alertbox {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.input {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.input__control {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.input .input__control {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.textarea {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.control {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.card {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.tabs {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.table {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.tooltip {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.copyright {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.datepicker {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.form {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.grid {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.asyst_editform {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.zimbargate .info {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.logo {
  font-family: 'Play', 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}

.logo__text-name {
  margin: 0;
}