.fs-view {
  z-index: 3;
}

.fs-view__background-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("images/uni2019/background_left_bottom.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.fs-view__background-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("images/uni2019/background_right_top.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.fs-view__background-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("images/uni2019/logo-mobile.png");
  background-repeat: no-repeat;
  background-position: center 300px;
}

.header {
  height: 130px;
}

.header__column > * {
  margin: 0 0 10px 0 !important;
}

.header__logo {
  display: block;
  height: 90px;
  width: 100%;
  margin-top: 10px !important;
  background-image: url("images/uni2019/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo:hover {
  opacity: .6;
}

.header__column,
.header__column:last-child {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__column:first-child {
  padding-left: 0;
}

.header__row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__row > * {
  margin-right: 10px;
}

.header__row_space_between {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__flex_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__flex_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__flex_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0 !important;
}

.header__flex_wrap.header__flex_start > * {
  margin: 0 10px 10px 0;
}

.header__flex_wrap.header__flex_end > * {
  margin: 0 0 10px 10px;
}

.header__flex_wrap.header__flex_center > * {
  margin: 0 5px 10px 5px;
}

.header__flex_end .header__row > * {
  margin-right: 0;
}

.header__column_wolf {
  height: 120px;
  width: 100%;
  background-image: url("images/uni2019/wolf.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.header__column_eagle {
  height: 120px;
  width: 100%;
  background-image: url("images/uni2019/eagle.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}



.menu_color_pink {
  background-color: #e5007c;
}

.menu_color_pink .menu__item-link_selected {
  background-color: #0096de;
}

.menu_color_pink .menu__submenu .menu__item-link_selected {
  background-color: rgba(0,0,0,.2);
}

.menu_type_horizontal .menu__item-text {
  font-size: 14px;
}

.menu_type_horizontal .menu__item-link {
  padding: 12px 15px;
}

.menu_type_horizontal .menu__submenu .menu__item-link {
  padding-left: 15px;
}

.menu_type_horizontal .menu__item-link:hover,
.menu_type_horizontal .menu__item-link_hovered {
  background-color: #0096de;
}

.menu_type_horizontal .menu__submenu-container {
  background-color: #0096de;
}

.menu_type_horizontal .menu__submenu-container:after {
  display: block;
  content: '';
  width: 100%;
  height: 48px;
  left: 0;
  bottom: -48px;
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(189deg, #0096de 49%, transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.link {
  color: #08c;
}

.counter {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.counter .alertbox {
  width: 20px;
}

.counter .alertbox-group .alertbox:before {
  border-radius: 0;
}

.counter .alertbox-group .alertbox {
  background-color: #e5007c;
  border-radius: 0;
}

.counter .alertbox__text {
  color: #e5007c;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.copyright {
  background-color: #0096de;
  font-size: 14px;
  padding: 8px 10px;
}

/*
.slick-header-column.ui-state-default {
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}
.slick-cell {
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}
.slick-group-toggle {
    font-size: 12px;
}
*/

.slick-group {
  font-weight: normal;
  color: #08c;
}

.slick-row a {
  color: #08c;
  text-decoration: none;
}

@media (max-width: 1168px) {
  .header__logo {
    background-image: url("images/uni2019/logo-mobile.png");
  }
}

@media (max-width: 750px) {
  .header__column_wolf {
    background-position: right center;
    background-size: 250px;
  }

  .header__column_eagle {
    background-position: left center;
    background-size: 250px;
  }
}

@media (max-width: 768px) {
  .menu_type_horizontal .menu__item-link {
    padding: 12px 10px;
  }

  .menu_type_horizontal .menu__submenu .menu__item-link {
    padding-left: 20px;
  }

  .menu_type_horizontal .menu__submenu-container:after {
    display: none;
  }
}