/**************************************
************** zimbar *****************
***************************************/
/* tooltip */
.tooltip.bottom { padding: 5px !important; }

/* pages, new cards */
body.zimbargate header { top: 30px !important; }
body.zimbargate #sidebar { padding-top: 110px !important; }
body.zimbargate #main-content { padding-top: 110px !important; }
body.zimbargate .right-sidebar { top: 30px; bottom: 0px; height: auto; }
/* old cards */
body.zimbargate .container { margin-top: 30px; }
/* reports */
body.zimbargate .parameters { top: 30px; }
body.zimbargate .parameters .container{ margin-top: 0; }
body.zimbargate .report-container { margin-top: 30px; }

/* zimbargation */
body.zimbargate #zimbargation.info .pull-right { float: right !important; }
body.zimbargate #zimbargation.info {
    height: 30px;
    font-size: 13px; 
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
    position: fixed; top: 0px; left: 0px; right: 0px;
    background-color: #ff6666; z-index: 110; box-sizing: border-box;
    border-radius: 0; margin: 0; padding: 0;
}
body.zimbargate #zimbargation.info .z-btn.z-close { background-size: 40px; background-image: url("/asyst/img/svg/img-power.svg"); background-repeat: no-repeat; background-position: center center; width: 30px; height: 30px; }
body.zimbargate #zimbargation.info .z-btn.z-close:hover { cursor: pointer; opacity: .5; }
body.zimbargate #zimbargation.info .z-btn.z-border { border-left: solid 1px rgba(255,255,255,.5); border-right: solid 1px rgba(255,255,255,.5); }
body.zimbargate #zimbargation.info .z-btn { float: right; height: 30px; width: 30px; top: 0; right: 0; border-radius: 0px; }
body.zimbargate #zimbargation.info .z-btn.z-text { width: auto; line-height: 30px; padding: 0 10px; color: #fff; text-shadow: none; float: left; }
body.zimbargate #zimbargation.info .z-btn.z-text.z-transparent { background-color: transparent; }
body.zimbargate #zimbargation.info .z-btn.z-text.z-caption { float: none; margin: 0 auto; text-align: center; width: 320px; }

/* sharepoint, static, fixed */
body.zimbargate.sharepoint #zimbargation.info { position: static; }
body.zimbargate.static #zimbargation.info { position: static; }
body.zimbargate.fixed #zimbargation.info { position: fixed; }
/**************************************
************** /zimbar ****************
***************************************/
