.button {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #333;
    border: 0;
    outline: 0;
    background: #ccc;
    text-align: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
}

.button:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    background: #fff;
}

.button_color_red { color: #fff; }
.button_color_red:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ff5940;
}

.button_color_blue { color: #fff; }
.button_color_blue:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #5a97f2;
}

.button__text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: 0 10px;
    flex: 1 1 auto;
    text-align: left;
}

.button__text_placeholder {
    color: #999;
}

.button.button_hidden { display: none; visibility: hidden; }
.button.button_disabled { background: rgba(0,0,0,.08); }
.button.button_disabled:before { display: none; }

.button.button_hovered { cursor: pointer; background-color: #aaa; }

/*
.button.button_focused { z-index: 1; }
.button.button_focused:before { box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0; }
*/

.button.button_clicked { }
.button.button_clicked:before { box-shadow: inset 0 0 0 2px rgba(0,0,0,.08); background-color: #f7f7f7; }

.button_color_blue.button_clicked:before { box-shadow: inset 0 0 0 4px rgba(0,0,0,.1); background-color: #5a97f2; }
.button_color_red.button_clicked:before { box-shadow: inset 0 0 0 4px rgba(0,0,0,.1); background-color: #ff5940; }

/*
.button.button_focused.button_clicked { }
.button.button_focused.button_clicked:before { box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0, inset 0 0 0 3px rgba(0,0,0,.05); }
*/

.button.button_checked:before { background-color: #ffeba0; }
.button.button_checked.button_disabled { background: rgba(0,0,0,.2); }

.button .icon {
    width: 30px;
    position: relative;
}
.button .icon + .button__text {
    margin-left: 0;
}
.button .icon_photo + .button__text {
    margin-left: 5px;
}
.button .button__text + .icon {
    margin-left: -10px;
}
.button .icon + .icon {
    margin-left: -10px;
}

/* button__anim */
.button__anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.button__anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}
.button__anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

/*
.button_clicked > .button__anim {
    -moz-animation: anim-in 0.75s;
    -webkit-animation: anim-in 0.75s;
    animation: anim-in 0.75s;
}
.button_clicked > .button__anim:after {
    -moz-animation: anim-in-pseudo 0.75s;
    -webkit-animation: anim-in-pseudo 0.75s;
    animation: anim-in-pseudo 0.75s;
}
*/

.button_clicked_out > .button__anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.button_clicked_out > .button__anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

