.carousel {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.carousel__container {
    flex: 1 1 auto;
    display: flex;
}

.carousel__container .button {
    z-index: 2;
}

.carousel__container .button .icon {
    width: 50px;
}

.carousel__items {
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
}

.carousel__circles {
    display: inline-flex;
    justify-content: center;
}

.carousel__item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__item-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    flex: 1 1 auto;
    text-align: center;
    font-size: 17px;
    font-style: italic;
    line-height: normal;
}

.carousel .button { background-color: #fff; }
.carousel .button.button_hovered { background-color: #fff; }
.carousel .button.button_clicked:before { background-color: #fff; box-shadow: none; }

.carousel .button.button_hovered .icon { opacity: .75; }
.carousel .button.button_clicked .icon { opacity: .5; }
