.page {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0px;
}
.page * {
    box-sizing: border-box;
}