label {
    display: inline;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
[hidden] {
    display: none !important;
    visibility: hidden !important;
}
.page {
    font-family: 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #333;
    margin: 0;
}
.bold {
    font-weight: bold;
}
