.visit {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    height: 100%;
}
.visit__iframe-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.visit__iframe-container > iframe {
    height: 100%;
    width: 100%;
    border: none;
}
.visit__iframe_hidden {
    display: none;
}