.visit {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
}
.visit__frame-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}
.visit__frame-container > iframe {
    height: 100%;
    width: 100%;
    border: none;
}
.visit__frame_hidden {
    display: none;
}