.modal__backdrop {
    background-color: #32323a;
    opacity: .25;
}
.modal__ .card__header {
    border-bottom: solid 1px #474c63;
    background: url('background.png') right top no-repeat #303548;
}
