.widget__border_color_dark_grey { color: #333; border-color: #706f6f; }
.widget__border_color_dark_grey .widget__count.link { color: #333; }
.widget__border_color_dark_grey .widget__count.link:hover { opacity: .5; }
.widget__border_color_dark_grey .widget__body-data_type_text.link { color: #333; }
.widget__border_color_dark_grey .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_dark_grey .widget__body-data_type_text_align_center.link { color: #333; }
.widget__border_color_dark_grey .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_blue { color: #0097d8; border-color: #0097d8; }
.widget__border_color_blue .widget__count.link { color: #0097d8; }
.widget__border_color_blue .widget__count.link:hover { opacity: .5; }
.widget__border_color_blue .widget__body-data_type_text.link { color: #0097d8; }
.widget__border_color_blue .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_blue .widget__body-data_type_text_align_center.link { color: #0097d8; }
.widget__border_color_blue .widget__body-data_type_text_align_center.link:hover { opacity: .5; }
