.radio-group {
    line-height: 24px;
}

.radio-group_type_line {
    display: inline-block;
}

.radio-group_type_button {
    display: inline-flex;
    white-space: nowrap;
}

.radio-group_type_button .radio + .radio { margin-left: -1px; }
.radio-group_type_button .radio.radio_hovered .button.button_hovered { z-index: 1; }

.radio-group_type_button .radio .button { border-radius: 0; }
.radio-group_type_button .radio .button:before { border-radius: 0; }
.radio-group_type_button .radio:first-child .button { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.radio-group_type_button .radio:first-child .button:before { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.radio-group_type_button .radio:last-child .button { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.radio-group_type_button .radio:last-child .button:before { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.radio-group_type_buttons {
    display: flex;
    flex-wrap: wrap;
}
.radio-group_type_buttons > * {
    margin-right: 10px;
    margin-bottom: 10px;
}
