.menu * {
    position: relative;
    box-sizing: border-box;
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
}
.menu {
    background-color: #4983c4;
    /*background-color: #325a97;*/
    width: 230px;
    overflow: auto;
    overflow-x: hidden;
}
.menu .menu {
    background-color: transparent;
}
.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.menu__item {
    flex-shrink: 0;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    width: 100%;
    line-height: 16px;
}
.menu__item-link {
    display: block;
    padding: 12px 10px;
}
.menu__item-link:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}
.menu__item-link_selected {
    background-color: rgba(255,255,255,0.1);
}
.menu__item-link-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}
.menu__item-text {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    flex-grow: 1;
    max-width: 100%;
}
.menu__item-text + .menu__item-text {
    flex: 0 0 auto;
}
.menu__item-text + .icon {
    margin-left: 10px;
}
.icon + .menu__item-text {
    padding-left: 10px;
}

.menu__submenu-container {
    display: none;
    width: 100%;
}
.menu__submenu {
    background-color: rgba(51,51,51,0.15);
    transition: 0.5s;
    overflow: hidden;
    width: 100%;
}
.menu__submenu .menu__item {
    border-bottom: none;
    border-top: solid 1px rgba(51,51,51,0.15);
}
.menu__submenu .menu__item-link {
    padding-left: 20px;
}
.menu__submenu .menu__item-link:hover {
    background-color: rgba(51,51,51,0.15);
}
.menu__submenu .menu__item-link_selected {
    background-color: rgba(51,51,51,0.15);
}

.menu_color_light {
    background-color: #fafafa;
    border-right: solid 1px #ddd;
}
.menu_color_light.menu_position_right {
    border-left: solid 1px #ddd;
    border-right: none;
}
.menu_color_light .menu__item {
    border-bottom: none;
}
.menu_color_light .menu__item-link:hover {
    background-color: transparent;
}
.menu_color_light .menu__item-link .menu__item-text {
    color: #333;
}
.menu_color_light .menu__item-link:hover .menu__item-text {
    color: #ff5940;
}
.menu_color_light .menu__item-link_disabled .menu__item-text,
.menu_color_light .menu__item-link_disabled:hover .menu__item-text {
    color: #ccc;
}
.menu_color_light .menu__item-link_selected .menu__item-text,
.menu_color_light .menu__item-link_selected:hover .menu__item-text {
    color: #ff5940;
}
.menu_color_light .menu__submenu {
    background-color: transparent;
}
.menu_color_light .menu__submenu .menu__item {
    border-top: none;
}
.menu_color_light .menu__submenu .menu__item-link:hover {
    background-color: transparent;
}
.menu_color_light .menu__submenu .menu__item-link_selected {
    background-color: transparent;
}

.menu_accordion {
    width: 100%;
    border-right: none;
    background-color: transparent;
}
.menu_accordion .menu__item-text {
    font-size: 13px;
}
.menu_accordion .menu__item {
    border-bottom: solid 1px #eee;
}
.menu_accordion .menu__item-link {
    background-color: #fafafa;
}
.menu_accordion .menu__item-link:hover {
    background-color: #fafafa;
}
.menu_accordion .menu__item-link .menu__item-text {
    color: #333;
}
.menu_accordion .menu__item-link:hover .menu__item-text {
    color: #ff5940;
}
.menu_accordion .menu__item-link_disabled .menu__item-text,
.menu_accordion .menu__item-link_disabled:hover .menu__item-text {
    color: #ccc;
}
.menu_accordion .menu__item-link_selected .menu__item-text,
.menu_accordion .menu__item-link_selected:hover .menu__item-text {
    color: #ff5940;
}
.menu_accordion .menu__submenu {
    border-top: solid 1px #eee;
}
.menu_accordion .menu__submenu .menu__item {
    border-top: none;
    border-bottom: none;
}
.menu_accordion .menu__submenu .menu__item-link {
    background-color: #fff;
}
.menu_accordion .menu__submenu .menu__item-link:hover {
    background-color: #fff;
}
.menu_accordion .menu__submenu .menu__item-link_selected {
    background-color: #fff;
}

.menu_color_white {
    background-color: transparent;
}
.menu_color_white .menu__item-text {
    font-size: 13px;
}
.menu_color_white .menu__item {
    border-bottom: solid 1px #eee;
}
.menu_color_white .menu__item-link {
    background-color: transparent;
}
.menu_color_white .menu__item-link:hover {
    background-color: transparent;
}
.menu_color_white .menu__item-link .menu__item-text {
    color: #333;
}
.menu_color_white .menu__item-link:hover .menu__item-text {
    color: #ff5940;
}
.menu_color_white .menu__item-link_disabled .menu__item-text,
.menu_color_white .menu__item-link_disabled:hover .menu__item-text {
    color: #ccc;
}
.menu_color_white .menu__item-link_selected .menu__item-text,
.menu_color_white .menu__item-link_selected:hover .menu__item-text {
    color: #ff5940;
}
.menu_color_white .menu__submenu {
    border-top: solid 1px #eee;
}
.menu_color_white .menu__submenu .menu__item {
    border-top: none;
    border-bottom: none;
}
.menu_color_white .menu__submenu .menu__item-link {
    background-color: transparent;
}
.menu_color_white .menu__submenu .menu__item-link:hover {
    background-color: #fafafa;
}
.menu_color_white .menu__submenu .menu__item-link_selected {
    background-color: transparent;
}

.menu__buttons {
    display: none;
}
.menu__buttons > .button {
    margin: 5px 5px 5px 0;
    background-color: transparent;
}
.menu__buttons > .button:before {
    background-color: transparent;
}
.menu__buttons_left > .button {
    margin: 5px 0 5px 5px;
}

.menu__container {
    flex: 1 1;
}

/* page_horizontal-menu */
@media (min-width: 769px) {
    .menu_type_horizontal {
        width: auto;
        overflow: visible;
        display: flex;
        justify-content: space-between;
    }
    .menu_type_horizontal .menu__list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 1 auto;
    }
    .menu_type_horizontal .menu__list_align_left {
        justify-content: flex-start;
    }
    .menu_type_horizontal .menu__item {
        border-bottom: none;
        width: auto;
    }
    .menu_type_horizontal .menu__submenu-container {
        position: absolute;
        z-index: 9999;
        background-color: #4983c4;
        width: 100%;
        overflow: visible;
    }
    .menu_type_horizontal .menu__submenu {
        background-color: transparent;
    }
    .menu_type_horizontal .menu__submenu .menu__item {
        width: 100%;
    }
    .menu_type_horizontal .menu__submenu .menu__item-link {
        padding-left: 10px;
    }
    .menu_type_horizontal .menu__submenu .menu__item-link:hover {
        background-color: rgba(51,51,51,.15);
    }
    .menu_type_horizontal .menu__buttons {
        display: block;
        flex: 0 0 auto;
    }
}