.top-nav-map  { background-color: #ffffff !important; background-image: none; border: none !important; box-shadow: none; }

.row { font-family: "Segoe UI", Helvetica, Arial, sans-serif !important; }

.smallText 
{
  font-family: "Segoe UI", Helvetica, Arial, sans-serif !important;
  color: #646464 !important;
  font-size: 10px;
}

.nav-tabs, .sidebar-header
{
	background-color: #ffffff !important;
	background-image: none;
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	box-shadow: none;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif !important;
	font-size: 14px;
	padding-top: 8px;
}

.sidebar-header
{
	padding-bottom: 11px !important;
}

#sidebar
{
	background-image: none;
	padding: 0px 0px 0px 0px;
}

.span12 
{
	padding-top: 10px !important;
}


.table th
{
	border: 0px;
	background-color: #f7f7f9;
}

.table td
{
	border: 0px;
	border-bottom: 1px dotted #e1e1e8;
}



.table tbody tr:hover td {
  background-color: #fbfbfc;
}
.table tbody tr:hover th {
  background-color: #f7f7f9;}

.control-group > div > span > ul {  margin-bottom: -15px !important; }

.nav-tabs > li > a, .nav-pills > li > a { padding-right: 10px !important; padding-left: 10px !important; }

.jsGantSummaryCollapser {
    border-bottom: 0px;
    border-right: 0px !important;
}

.acc-phase-head  {
    background-color: #2ac280;
    color: #ffffff;
}
a.acc-phase-head {
    background-color: #2ac280;
    color: #ffffff;
}

.acc-doc-head  {
    background-color: #f0f0f0;
    
}

.quick-point-creator-body { position:static !important; }

#Stage { float:left; }
