/*
.slick-header-column.ui-state-default {
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}
.slick-cell {
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}
.slick-group-toggle {
    font-size: 12px;
}
*/
.slick-group {
    font-weight: normal;
    color: #0096de;
}