/* slickgrid */
.slick-header.ui-state-default {
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    background-color: #fafafa;
    background-image: none;
}
.slick-header-column.ui-state-default {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: none;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}
.slick-header-columns .slick-header-column.ui-state-default:first-child .slick-column-name {
    padding-left: 6px;
    line-height: 15px;
}
.slick-row .slick-cell-checkboxsel {
    background-color: transparent;
    padding-left: 10px;
    line-height: 20px;
}
.slick-cell {
    border-bottom: 1px solid #eee;
    line-height: 22px;
}
.slick-group > .slick-cell {
    border-top: none;
}
.slick-group-toggle {
    height: auto;
    line-height: normal;
    padding-left: 4px;
}
.slick-group-toggle.expanded {
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjYuNzA3cHgiIHZpZXdCb3g9IjAgMCAxMiA2LjcwNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgNi43MDciIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzMzMzMiIHBvaW50cz0iNiw2LjcwNyAwLDAuNzA3IDAuNzA3LDAgNiw1LjI5MyAxMS4yOTMsMCAxMiwwLjcwNyAiLz48L3N2Zz4=);
    padding-left: 0;
}
.slick-group-toggle.collapsed {
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjYuNzA3cHgiIHZpZXdCb3g9IjAgMCAxMiA2LjcwNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgNi43MDciIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzMzMzMiIHBvaW50cz0iNiw2LjcwNyAwLDAuNzA3IDAuNzA3LDAgNiw1LjI5MyAxMS4yOTMsMCAxMiwwLjcwNyAiLz48L3N2Zz4=);
    padding-left: 0;
    transform: rotate(270deg);
}
.slick-cell.selected {
    background-image: none;
    background-color: #4983c4;
    border-bottom-color: #eee;
    text-shadow: none;
}
.slick-row .slick-cell-checkboxsel.selected {}
.slick-row.ui-widget-content:hover, .slick-row.ui-state-active {
    background-color: #fafafa;
}
.slick-row a {
    color: #4983c4;
    text-decoration: none;
}
.slick-row .selected a {
    text-decoration: none;
}
.slick-row a:hover {
    text-decoration: none;
    color: #ff5940;
}
.slick-row .selected a:hover {
    text-decoration: none;
    color: #fff !important;
}
.slick-columnpicker {
    padding: 10px 15px 10px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.5);
}
.slick-columnpicker hr {
    margin: 15px -15px 15px -10px;
}

/* register */
.register * {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    color: #333;
}
.register #view * {
    font-size: 12px;
}
.register .slick-group-toggle {
    color: #006bd6;
}

/* loader */
.loader-indicator {
    z-index: 9999;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0;
    background-color: rgba(255,255,255,1);
    box-sizing: border-box;
    background-image: none;
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.5);
}
.loader-indicator:after {
    border: 2px solid;
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
}
.loader-indicator label {
    margin: 10px 0 0 0;
    font-family: ProximaNova-Regular;
    color: #333;
    background: none;
    padding: 0;
    font-weight: normal;
}

/* viewheader */
#viewHeader {
    height: auto;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    background-image: none;
    box-shadow: none;
}
#viewHeader .title {
    line-height: 28px;
    padding: 0 10px;
    background: none;
    margin: 10px 0 0 10px;
    border: solid 1px #ddd;
    font-size: 13px;
}
#viewHeader .btn-toolbar {
    padding: 0 10px 10px 0;
}
#viewHeader .btn-toolbar:after {
    clear: both;
    display: table;
    content: "";
}
#viewHeader .btn {
    font-size: 13px !important;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 0;
    border: solid 1px #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    line-height: 28px;
}
#viewHeader .btn:hover {
    text-shadow: none;
    background: transparent;
    box-shadow: none;
    border: solid 1px #aaa;
    border-radius: 0;
    margin: 10px 0;
    padding: 0 10px;
}
#viewHeader .btn-group {
    margin: 10px 0 0 10px;
    padding: 0 !important;
}
#viewHeader .btn-group .btn {
    background: #fff;
    margin: 0;
}
#viewHeader .btn-group .btn [class^="icon"] {
    margin-right: 8px;
}
#viewHeader span {
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}
#viewHeader .btn-group.open span.caret {
    transform: rotate(180deg);
}
#viewHeader span.caret {
    transition: .5s;
    margin: 0;
    opacity: 1;
    min-width: 1em;
    height: 28px;
    border: none;
    background: 50% no-repeat;
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjYuNzA3cHgiIHZpZXdCb3g9IjAgMCAxMiA2LjcwNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgNi43MDciIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzMzMzMiIHBvaW50cz0iNiw2LjcwNyAwLDAuNzA3IDAuNzA3LDAgNiw1LjI5MyAxMS4yOTMsMCAxMiwwLjcwNyAiLz48L3N2Zz4=);
}
#viewHeader span.search-clear {
    opacity: .5;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background: 50% no-repeat;
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzMzMzMiIHBvaW50cz0iMTAuNTg2LDEyIDYsNy40MTQgMS40MTQsMTIgMCwxMC41ODYgNC41ODYsNiAwLDEuNDE1IDEuNDE1LDAgNiw0LjU4NiAxMC41ODYsMCAxMiwxLjQxNCA3LjQxNCw2IDEyLDEwLjU4NiAiLz48L3N2Zz4=)
}
#viewHeader span.search-clear:hover {
    opacity: 1;
    cursor: pointer;
}
#viewHeader #BrowseSearch {
    margin: 0;
    line-height: 28px;
    border-radius: 0;
    box-shadow: none;
    border: solid 1px #ccc;
    box-sizing: border-box;
    height: auto;
    padding: 0 30px 0 10px;
    font-size: 13px;
}
#viewHeader #BrowseSearch {
    margin: 0;
    line-height: 30px;
    border-radius: 0;
    box-shadow: none;
    border: solid 1px #ccc;
    box-sizing: border-box;
    height: 30px;
    padding: 0 30px 0 10px;
    font-size: 13px;
}
#viewHeader #BrowseSearch:focus {
    border: solid 2px #5a97f2;
    padding-left: 9px;
}
#viewHeader .dropdown-menu {
    margin: 10px 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(51,51,51,.5);
}
#viewHeader .dropdown-menu li {
    border-bottom: solid 1px #eee;
}
#viewHeader .dropdown-menu li a {
    line-height: 1.4;
    padding: 10px 15px;
    color: #333;
}
#viewHeader .dropdown-menu li > a:hover {
    background-color: #eee;
    color: #333;
}
#viewHeader .dropdown-menu li a [class^="icon"] {
    margin-right: 8px;
    margin-top: 2px;
}
#viewHeader .dropdown-menu .divider {
    margin: 0;
    height: 0;
    padding-top: 5px;
    background-color: #fafafa;
}

#header,
.modal-header,
.modal #header,
.modal .modal-header {
    background-color: #4983c4 !important;
    background-image: none;
}
.modal-footer {
    border-radius: 0;
}