.required-points {
    margin:0 8px 8px 8px; 
    padding:0 8px 0 8px; 
}

.required-points-content 
{
    font-size:12px;
    margin-bottom:0px;
}

.required-points input, .required-points select, .required-points .uneditable-input, .required-points .btn 
{
    height: 15px; 
    line-height: 15px;
}

.required-points .btn 
{
    padding: 4px 6px;
}

.quick-point-creator {
    margin:0 8px 8px 8px; 
    padding:0 8px 0 8px; 
}

.quick-point-creator .control-group
{
    padding:0;
    margin:0;
    margin-left: -4px;
}

.quick-point-creator-header
{
    font-size:12px;
    margin-bottom:0px;
}

.quick-point-creator-content 
{
    font-size:12px;
    margin-bottom:0px;
}

.quick-point-creator input, .quick-point-creator select, .quick-point-creator .uneditable-input , .quick-point-creator .btn
{
    height: 15px; 
    line-height: 15px;
}

.quick-point-creator .btn 
{
    padding: 4px 6px;
}
.required-points .point-line {
    padding-left: 20px;
    margin-bottom: -10px;
    height: 33px;
    margin-top: -5px;
    padding-top: 5px;
}

.info-icon {
    background: url('/asyst/img/field-notify-info.png') no-repeat scroll right 0;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: -1px;
}