* { 
	font-family: 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important; 
	color: #666;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #58c9f3;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
div.rq-gc-horizontalScrollBar {
	height: 12px;
}

:focus {outline: none; }

body { margin:0px; }

#ganttplace * {
	font-size: 11px !important;
	font-family: 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
}
#ganttplace { }

#ganttplace .ui-widget-header { background: #f0f0f0; border-color: #ddd }
#ganttplace .ui-widget-header > div { height: inherit; overflow:hidden; font-weight: normal; line-height: 1em }
#ganttplace .datepicker .nav { margin-bottom: 0px !important; }

#ganttplace th.ui-widget-header,
#ganttplace .rq-timeUnit-div.ui-widget-header {
    border-bottom: 1px solid #ddd !important;
}

/*---------------*/
/*--- toolbar ---*/

/*#toolbar.gantttoolbar ul.top-menu { margin: 0px; padding: 10px 10px 0px 10px; background-color: #58c9f3; list-style: none; }*/
#toolbar.gantttoolbar ul.top-menu { margin: 0px; padding: 5px 5px 0px 5px; background-color: #fff; list-style: none; border-bottom: solid 1px #ddd; }
#toolbar.gantttoolbar .top-menu input.srch:focus { color: #333; }

#toolbar ul.top-menu:after { content: " "; clear: both; display: table; }
#top_menu .nav > li,
ul.top-menu > li { float: left; }
#toolbar ul.top-menu > li { list-style: none; margin: 0px 10px 10px 0px; }

/*#toolbar.gantttoolbar .c-btn						{ background-color: #58c9f3; height: 32px; width: 32px; background-repeat: no-repeat; }*/
#toolbar.gantttoolbar .c-btn						{ background-color: #fff; height: 32px; width: 32px; background-repeat: no-repeat; }
#toolbar.gantttoolbar .c-btn:hover					{ cursor: pointer; opacity: .5; }
#toolbar.gantttoolbar .c-btn a.link					{ cursor: pointer; display: inline-block; width: 32px; height: 32px; }

#toolbar.gantttoolbar .top-menu input.srch {
    height: 32px;
    width: 32px;
    padding: 0 0 0 32px;
    box-sizing: border-box;
    background-position: 10px center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
#toolbar.gantttoolbar .top-menu input.srch:focus {
    width: 300px;
    outline: 0;
    opacity: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
#toolbar.gantttoolbar .c-btn.gantt-new-window		{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-new-window.png'); }
#toolbar.gantttoolbar .c-btn.gantt-add-task			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-add-task.png'); }
#toolbar.gantttoolbar .c-btn.gantt-add-summary		{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-add-summary.png'); }
#toolbar.gantttoolbar .c-btn.gantt-add-milestone	{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-add-milestone.png'); }
#toolbar.gantttoolbar .c-btn.gantt-level-up			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-level-up.png'); }
#toolbar.gantttoolbar .c-btn.gantt-level-down		{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-level-down.png'); }
#toolbar.gantttoolbar .c-btn.gantt-up				{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-up.png'); }
#toolbar.gantttoolbar .c-btn.gantt-down				{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-down.png'); }
#toolbar.gantttoolbar .c-btn.gantt-collapse			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-collapse.png'); }
#toolbar.gantttoolbar .c-btn.gantt-expand			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-expand.png'); }
#toolbar.gantttoolbar .c-btn.gantt-create-critical	{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-create-critical.png'); }
#toolbar.gantttoolbar .c-btn.gantt-remove-critical	{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-remove-critical.png'); }
#toolbar.gantttoolbar .c-btn.gantt-copy-base		{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-copy-base.png'); }
#toolbar.gantttoolbar .c-btn.gantt-view-all			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-view-all.png'); }
#toolbar.gantttoolbar .c-btn.gantt-zoom-in			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-zoom-in.png'); }
#toolbar.gantttoolbar .c-btn.gantt-zoom-out			{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-zoom-out.png'); }
#toolbar.gantttoolbar .c-btn.gantt-new-window		{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/gantt-new-window.png'); }
#toolbar.gantttoolbar .c-btn.srch					{ background-image: url('/asyst/jsControls/radiantQ/Src/Styles/AsystIcon/img_search.png'); }
*/

#toolbar.gantttoolbar .c-btn.gantt-new-window		{ background-image: url('/asyst/img/svg/gantt-new-window.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-add-task			{ background-image: url('/asyst/img/svg/gantt-add-task.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-add-summary		{ background-image: url('/asyst/img/svg/gantt-add-summary.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-add-milestone	{ background-image: url('/asyst/img/svg/gantt-add-milestone.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-level-up			{ background-image: url('/asyst/img/svg/gantt-level-up.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-level-down		{ background-image: url('/asyst/img/svg/gantt-level-down.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-up				{ background-image: url('/asyst/img/svg/gantt-up.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-down				{ background-image: url('/asyst/img/svg/gantt-down.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-collapse			{ background-image: url('/asyst/img/svg/gantt-collapse.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-expand			{ background-image: url('/asyst/img/svg/gantt-expand.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-create-critical	{ background-image: url('/asyst/img/svg/gantt-create-critical.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-remove-critical	{ background-image: url('/asyst/img/svg/gantt-remove-critical.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-copy-base		{ background-image: url('/asyst/img/svg/gantt-copy-base.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-view-all			{ background-image: url('/asyst/img/svg/gantt-view-all.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-zoom-in			{ background-image: url('/asyst/img/svg/gantt-zoom-in.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-zoom-out			{ background-image: url('/asyst/img/svg/gantt-zoom-out.svg'); }
#toolbar.gantttoolbar .c-btn.gantt-new-window		{ background-image: url('/asyst/img/svg/gantt-new-window.svg'); }

/*#toolbar.gantttoolbar .c-btn.srch					{ background-image: url('/asyst/img/svg/gantt-search.svg'); }*/

/*--- toolbar ---*/
/*---------------*/

/*--------------------*/
/* для модяльных окон */

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.25;
	filter: alpha(opacity=25);
	background: #32323a;
}
.modal {
	top: 0px;
	margin-top: 0px;
	border: none;
}
.modal-header {
	border-radius: 0;
}
.modal-footer {
	padding: 15px;
	border: none;
	background-color: #f5f5f5 !important;
}
.modal #header {
	background: #718396;
	border: none;
}
.modal #header h2 {
	color: #fff;
}
.nav-tabs, .sidebar-header {
	padding-top: 13px;
	margin-bottom: 20px;
}
.modal, .modal.container, .modal.modal-overflow { top: 0 !important; }
.modal #header,
.modal .modal-header {
	background: #718396; 
	box-sizing: border-box; 
	padding: 0px 15px;
	height: 38px;
}
.modal #header #entityName,
.modal .modal-header h3 {
	color: #fff;
	margin: 0;
	box-sizing: border-box;
	text-shadow: none;
	font-weight: normal;
	padding: 0;
	line-height: 38px;
	display: block;
}
.modal-header .close {
	margin-top: 7px;
}

.btn { text-shadow: none; background-image: none !important; padding: 6px 12px; }

.btn, .btn:hover		{ border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15); color: #fff !important; }

.btn					{ background-color: #f5f5f5; color: #333 !important; }
.btn:hover				{ background-color: #f5f5f5; color: #333 !important; opacity: .75; }

.btn.btn-default		{ background-color: #f5f5f5; color: #333 !important; }
.btn.btn-default:hover	{ background-color: #f5f5f5; color: #333 !important; opacity: .75; }

.btn.btn-primary		{ background-color: #00a1f4; }
.btn.btn-primary:hover	{ background-color: #00a1f4; opacity: .75; }

.btn.btn-progress		{ background-color: #02cfaa; color: #fff !important; }
.btn.btn-progress:hover	{ background-color: #02cfaa; color: #fff !important; opacity: .75; }

.btn.btn-danger			{ background-color: #ff6666; }
.btn.btn-danger:hover	{ background-color: #ff6666; opacity: .75; }

.btn.btn-success		{ background-color: #95d06d; }
.btn.btn-success:hover	{ background-color: #95d06d; opacity: .75; }

/* для модяльных окон */
/*--------------------*/

.ui-widget { font-size: 13px !important; }
.ui-grid .ui-grid-body td, .ui-body-frozen-div td { border: none; }
.ui-layout-pane { border: none; }
.ui-widget-content { border: none; }
.rq-gc-rowsParent.rowsParent { margin-top: 0px; }

.ui-grid table th { font-size: 11px; }

.ui-grid tr .editor input {
    width: 90% !important;
    margin: 0px !important; 
    border-radius: 0 !important;
}

.ui-datepicker { 
    box-shadow:  black 0 0 8px;
}

div.rq-gc-milestoneBar.notcritical {
    margin-top: 0px !important;
}

div.rq-gc-milestoneBar.completed {
    background-image: url(/asyst/gantt/img/m_4.png) !important;
}
div.rq-gc-milestoneBar.notcompleted {
    background-image: url(/asyst/gantt/img/m_5.png) !important;
}
div.rq-gc-milestoneBar.critical {
    background-image: url(/asyst/gantt/img/m3.png) !important;
}
div.rq-gc-milestoneBar.critical {
    background-image: url(/asyst/gantt/img/m_3.png) !important;
    margin-top: 0px !important;
}

div.backgroundBaseline-style {
    height: 4px !important;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    background-color: #eee !important;
    float: left;
    position: absolute;
    z-index: 8;
    margin-top: 18px !important;
}

div.parentBaseline {
    height: 8px !important;
    float: none !important;
    position: absolute;
    z-index: 8;
    margin-top: 12px !important;
    box-sizing: border-box;
}

div.parentBaseline-leftCue {
    float: left !important;
    height: 100% !important;
    position: absolute !important;
    width: 8px;
}

div.parentBaseline-middle {
    float: left !important;
    width: 100% !important;
    height: 50% !important;
    position: absolute !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid gray;
    background-color: silver;
}

div.parentBaseline-rightCue {
    float: right !important;
    height: 100% !important;
    position: absolute !important;
    width: 8px;
}

div.rq-gc-parentBar-leftCue {
    border: 0px;
    height: 0px;
    width: 0px;
    position: absolute !important;
    border-color: #718396 !important;
    margin-left: 2px;
    margin-top: 11px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid !important;
    border-width: 6px 6px 0 !important;
    display: block !important;
    left: -1px;
}

div.rq-gc-parentBar-rightCue {
    border: 0px;
    height: 0px;
    width: 0px;
    position: absolute !important;
    border-color: #718396 !important;
    margin-left: 18px;
    margin-top: 11px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid !important;
    border-width: 6px 6px 0 !important;
    display: block !important;
    right: -1px;
}

div.rq-gc-parentBar-middle {
    background: #718396 !important;
    height: 8px;
    top: 20%;
    position: relative;
    right: -1px;
}

div.parentbar-progress {
    height:4px;
    background: black;
    margin: 2px 6px;
}

div.parentBaseline {
    margin-top: 16px !important;
}

div.parentBaseline-middle {
    border: 1px solid #ccc;
    background-color: #eee;
}

div.baselineMilestone {
    background-image: url(/asyst/gantt/img/mp.png);
    height: 14px;
    display: block;
    width: 14px;
    margin-top: 11px;
}

div.taskbar-style {
    height: 14px !important;
    background-image: none !important;
    background-color: #00a1f4 !important;
    border: 1px solid #00a1f4 !important;
    border-radius: 0px !important;
    float: left !important;
    -ms-touch-action: none;
    position: absolute !important;
    z-index: 10 !important;
}

div.taskbar-style.critical {
    background-color: #ff6666 !important;
    border: 1px solid #ff6666 !important;
}

div.rq-gc-progressbar {
    height: 100% !important;
    z-index: 11 !important;
    position: absolute !important;
    margin: 0 !important;    
    border: 0 !important;
    background-color: #3cd79a !important;
    -ms-touch-action: none;
}

.rq-gc-progressbar.progressbarStyle {
    margin: 0px !important;
}

.rq-gc-browseCue-left {
    visibility:hidden !important;
    background-color: #00a1f4 !important;
    border-radius: 0px 12px 12px 0px !important; 
    border-color: #50b0e0 !important;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3) !important;
}

.ui-state-hover .rq-gc-browseCue-left {
    visibility:visible !important;
}

.rq-gc-browseCue-right {
    visibility:hidden !important;
    background-color: #00a1f4 !important;
    border-radius: 12px 0 0 12px !important; 
    border-color: #50b0e0 !important;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3) !important;
}

.ui-state-hover .rq-gc-browseCue-right {
    visibility:visible !important;
}

select.gantt-select {
    width: 100%;
    height: 23px;
    margin: 0px;   
}

input.gantt-datepicker {
    height: 20px;
    margin: 0;
    padding: 0 2px 0 2px;
    border: 0;
}

a.code-link, .ui-state-active a.code-link, .ui-state-hover a.code-link {
    color: #0099d9;
    text-decoration: underline;
}

.ui-grid td.not-editable, .not-editable {
    color: #bababa;
}

/*
div.rq-gc-dependencyLine,
div.rq-gc-dependencyCue-parent {
    background-color: #a48ad4 !important;
}
div.rq-gc-dependencyCue,
div.rq-gc-dependencyLine-arrow {
    border-color: #a48ad4 !important;
}
div.rq-gc-dependencyCue-arrow,
div.rq-gc-dependencyLine-arrow {
    border-top-color: #a48ad4 !important;
    border-bottom-color: #a48ad4 !important;
}
*/
