body { 
	padding:0px;
	background-color: transparent;
}
#board {
	background-color: #32323a;
}
#board-messages {
	margin-top: 160px;
	background-color: transparent;
	padding: 0px;
	overflow: auto;
	height: 100% !important;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.post {
	padding: 20px;
	display: table;
	border-bottom: none;
	border-top: 1px solid rgba(255,255,255,0.05);
	width: 100%;
	box-sizing: border-box;
	color: #fff;
}
.post:hover {
	background: #28282e;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-head {
	color: #aeb2b7;
	width: 100%;
	float: none;
}
.post-head:after {
	clear:both;
}
.post-time {
	display: block;
	margin-right: 0px;
	float: right;
	width: 70px;
	text-align: right;
}
.post-user {
	display: block;
	width: 110px;
	line-height: 15px;
}
.post-body {
	margin-left: 0px;
	margin-top: 10px;
	font-size: 12px;
}

#board-controls {
	padding: 0px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 0;
	position: fixed;
	top: 0px;
	background-color: #58c9f3;
	height: 160px;
}

#board-controls table { width: 100%; }
#board-controls table tr {
	display: block;
}
#board-controls table tr td {
	padding: 0 !important;
	vertical-align: middle;
	text-align: right;
	width: 100%;
}
#board-controls table tr td:first-child {
	padding-right: 20px;
}
#board-controls #post-editor {
	box-sizing: border-box;
	height: 160px;
	width: 100%;
	margin: 0;
	border: none;
	padding: 24px 72px 20px 20px;
	border-radius: 0px;
}
#board-controls #post-editor,
#board-controls #post-editor:focus {
	outline: none;
}
#board-controls .btn-primary {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 24px 20px;
	box-shadow: none;
	margin-left: 15px;
	background-color: #58c9f3;
	background-image: none;
	border: none !important;
	text-shadow: none;
	padding: 13px;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	background-image: url('/asyst/api/file/get/e6ff7e1d-5dc2-4704-aa12-1f0dbf12005a/img_send.png');
	background-color: #3cd79a;
	background-repeat: no-repeat;
	background-position: center center;
}
#board-controls .btn-primary:hover {
	opacity: .95;
}
