@media (max-width: 1500px) {
    .header__column_absolute_center {
        display: none;
    }
    .header__column_absolute_gov {
        display: none;
    }
}
@media (max-width: 1366px) {
}
@media (max-width: 768px) {
    .header__caption-text {
        font-size: 15px;
        line-height: normal;
    }
}
