.card {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.card__header {
    /*z-index: 2;*/
    position: relative;
    border-bottom: solid 1px #ddd;
    padding: 10px 0 0 10px;
    flex: 0 0 auto;
    background-color: #fafafa;
    overflow: visible;
}
.card__header-border_bottom_none {
    border-bottom: none;
}

.card__header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.card__header-row img.indicator {
    width: 16px;
    height: 20px;
    vertical-align: top;
}
.card__header-row_wrap {
    flex-wrap: wrap;
}
.card__header-column {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.card__header-column_nowrap {
    flex-wrap: nowrap;
}
.card__header-column_start {
    justify-content: flex-start;
}
.card__header-column_stretch {
    width: 100%;
}
.card__header-column_flex_1-1-auto {
    flex: 1 1 auto;
}
.card__header-column_flex_0-0-auto {
    flex: 0 0 auto;
}
.card__header-column > * {
    flex-wrap: wrap;
    margin: 0 10px 10px 0;
}
.card__header-column > .button {
    flex-wrap: nowrap;
}
.card__header-column > .radio-group.radio-group_type_buttons {
    flex-wrap: wrap;
    margin-bottom: 0 !important;
}

.card__header-element_stretch {
    flex: 1 1 auto;
}

.card__caption {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    color: #999;
    border: 0;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
}
.card__caption_hidden {
    display: none;
    visibility: hidden;
}
.card__caption-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: 0 5px;
    font-size: 13px;
    line-height: 30px;
}
.card__caption .icon {
    opacity: 0.5;
    width: 20px;
    position: relative;
}
.card__caption .icon + .card__caption-text {
    margin-left: 5px;
}

.card__name {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    color: #333;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px;
    line-height: 30px;
}
.card__name_hidden {
    display: none;
    visibility: hidden;
}
.card__name-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: 4px 5px;
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    flex: 1 1 auto;
}
.card__name-text_no-margin {
    margin-left: 0;
    margin-right: 0;
}
.card__name-text_align_center {
    text-align: center;
}
.card__name-text_color_red {
    color: #ff5940;
}
.card__name .icon {
    width: 20px;
    position: relative;
}
.card__name .icon + .card__name-text {
    margin-left: 5px;
}

.card__header .alertbox:before,
.card__header .button:before,
.card__header .checkbox:before {
}

.card__main {
    z-index: 1;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    /*flex-direction: column;*/
    overflow: visible;
    width: 100%;
    height: 100%;
}
.card__main_flex-direction_column {
    flex-direction: column;
}
.card__main_transition > * {
    transition: 0.5s;
}

.card__left {
    z-index: 4;
    width: 230px;
    min-width: 230px;
    max-width: 230px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.card__left > * {
    height: 100%;
}
.card__left_hidden {
    display: none;
}

.card__left_renu {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}
.card__left-renu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px #ddd;
    box-sizing: border-box;
}

.card__right {
    z-index: 3;
    width: 230px;
    min-width: 230px;
    max-width: 230px;
    overflow: hidden;
    display: flex;
}
.card__right > * {
    height: 100%;
}
.card__right_hidden {
    display: none;
}

.card__middle {
    z-index: 1;
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    position: relative;
}
.card__middle-scroll {
    flex: 1 1 auto;
    overflow: auto;
}
.card__middle-inner {}

.card__left + .card__middle {
    width: calc(100% - 230px);
}
.card__left.card__left_hidden + .card__middle {
    width: 100%;
}

.card__backdrop {
    display: none;
    visibility: hidden;
}

.card__main > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 9999;
}

.card__text {
    line-height: 1.6;
    font-size: 15px;
    padding-bottom: 20px;
}
.card__table {
    margin: -20px -20px 0;
}