.table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
}
.table td {
    border-top: solid 1px #eee;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}
.table thead td {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: #fafafa;
}
.table td.align_right {
    text-align: right;
}
.table td img.indicator {
    width: 16px;
    height: 16px;
}