.table {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.table tr > td {
    border-top: solid 1px #eee;
    padding: 7px 10px 7px 10px;
    vertical-align: top;
    text-align: left;
}
.table tr > td:last-child {
    padding-right: 10px;
}
.table thead td,
.table thead th,
.table th {
    padding: 10px 10px 10px 10px;
    /*border-top: solid 1px #ddd;*/
    border-top: none;
    border-bottom: solid 1px #ddd;
    background-color: #fafafa;
    font-weight: normal;
}
.table thead td.table__td_no_border,
.table thead th.table__td_no_border,
.table th.table__td_no_border{
    border: none;
}
.table td.align_right {
    text-align: right;
}
.table td img.indicator {
    width: 16px;
    height: 16px;
    vertical-align: top;
}
.table td img.doctype {
    float: left;
}
.table tr:hover td {
    background-color: #fbfbfb;
}