.widget .table {
    color: #fff;
}
.widget .table th,
.widget .table thead td,
.widget .table thead th {
    background-color: #393e52;
}
.widget .table tr > th,
.widget .table tr > td {
    border-top: solid 1px #393e52;
    border-bottom: none;
}
.widget .table thead tr:hover td,
.widget .table tbody tr:hover td {
    background-color: #393e52;
}
