.table {
    color: #fff;
}
.table th,
.table thead td,
.table thead th {
    border-bottom: solid 1px #595d6d;
    background-color: #393e52;
}
.table tr > td {
    border-bottom: solid 1px #595d6d;
}
