.calendar {
  height: 100%;
}

.calendar__container {
  font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  line-height: normal;
  font-weight: normal;
}

.calendar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.calendar__row_top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.calendar__row_bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calendar__datepicker {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.calendar__datepicker .datepicker {
  width: 100%;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.calendar__table {
  width: 100%;
  overflow: auto;
  border-top: solid 1px #ddd;
}

.calendar__table .table thead td {
  border-top: none;
}

.calendar .datepicker-inline {
  width: auto !important;
}

.calendar .datepicker--content {
  display: block !important;
}

.calendar .datepicker__day {
  position: relative;
  padding: 8px;
  border-radius: 16px;
  min-width: 16px;
  text-align: center;
  box-sizing: content-box;
}

.calendar .datepicker--cell.datepicker--cell-day {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.calendar .datepicker--cell.datepicker--cell-day.-focus-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
  background: transparent;
}

.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
  opacity: 0.75;
}

.calendar .datepicker--cell.datepicker--cell-day.-focus- .datepicker__day {
  background: #f0f0f0;
}

.calendar .datepicker--cell.datepicker--cell-day.-selected- .datepicker__day,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current- .datepicker__day,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- .datepicker__day {
  background: #5a97f2;
  color: #fff;
}

.calendar .datepicker__note {
  position: absolute;
  box-sizing: border-box;
  color: #fff;
  background-color: #ff5940;
  right: -8px;
  top: 0;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 9px;
  display: block;
  min-width: 16px;
  text-align: center;
}

.calendar .datepicker__event {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
}

.calendar .datepicker__event-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.calendar .datepicker__indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
  border: solid 1px #ddd;
  border-right: none;
}

.calendar .datepicker__indicator img {
  width: 16px;
  height: 16px;
}

.calendar .datepicker__event-text {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border: solid 1px #ddd;
}

.calendar .datepicker__more {
  color: #333;
}

.calendar .datepicker__day-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.calendar .datepicker__day-border {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  border: solid 1px #eee;
  border-bottom: none;
  border-right: none;
  padding: 5px;
}

.calendar .datepicker__cells-days-border {
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.spinner {
  display: inline-block;
  color: #666;
}

.spinner:after {
  border: 2px solid;
  content: " ";
  display: block;
  height: 30px;
  width: 30px;
  -webkit-animation: rotate 1s infinite linear;
          animation: rotate 1s infinite linear;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
}

.spinner_white {
  color: #fff;
}

.spinner_red {
  color: #ff5940;
}

.spinner_align_center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 9999;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button {
  font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
  border: 0;
  outline: 0;
  background: #ccc;
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 0;
}

.button:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  background: #fff;
}

.button_color_red {
  color: #fff;
}

.button_color_red:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff5940;
}

.button_color_blue {
  color: #fff;
}

.button_color_blue:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4983c4;
}

.button_color_blue_light {
  color: #fff;
}

.button_color_blue_light:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5a97f2;
}

.button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.button__text_placeholder {
  color: #999;
}

.button.button_hidden {
  display: none;
  visibility: hidden;
}

.button.button_disabled {
  background: rgba(0,0,0,.08);
}

.button.button_disabled:before {
  display: none;
}

.button.button_hovered {
  cursor: pointer;
  background-color: #aaa;
}

/*
.button.button_focused { z-index: 1; }
.button.button_focused:before { box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0; }
*/



.button.button_clicked:before {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.08);
  background-color: #f7f7f7;
}

.button_color_red.button_clicked:before {
  box-shadow: inset 0 0 0 4px rgba(0,0,0,.1);
  background-color: #ff5940;
}

.button_color_blue.button_clicked:before {
  box-shadow: inset 0 0 0 4px rgba(0,0,0,.1);
  background-color: #4983c4;
}

.button_color_blue_light.button_clicked:before {
  box-shadow: inset 0 0 0 4px rgba(0,0,0,.1);
  background-color: #5a97f2;
}

/*
.button.button_focused.button_clicked { }
.button.button_focused.button_clicked:before { box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0, inset 0 0 0 3px rgba(0,0,0,.05); }
*/

.button.button_checked:before {
  background-color: #ffeba0;
}

.button.button_checked.button_disabled {
  background: rgba(0,0,0,.2);
}

.button .icon {
  width: 30px;
  position: relative;
}

.button .icon + .button__text {
  margin-left: 0;
}

.button .icon_photo + .button__text {
  margin-left: 5px;
}

.button .button__text + .icon {
  margin-left: -10px;
}

.button .icon + .icon {
  margin-left: -10px;
}

/* button__anim */

.button__anim {
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.button__anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}

.button__anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.button_clicked_out > .button__anim {
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}

.button_clicked_out > .button__anim:after {
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes anim-in {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}

@keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}

@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes anim-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}

@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}

.card {
  font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__header {
  z-index: 2;
  position: relative;
  border-bottom: solid 1px #ddd;
  padding: 10px 0 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #fafafa;
  overflow: visible;
}

.card__header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__header-row img.indicator {
  width: 16px;
  height: 20px;
  vertical-align: top;
}

.card__header-row_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__header-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__header-column_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__header-column_stretch {
  width: 100%;
}

.card__header-column > * {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px 10px 0;
}

.card__header-column > .button {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__header-column > .radio-group.radio-group_type_buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0 !important;
}

.card__caption {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
  color: #999;
  border: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  line-height: 30px;
}

.card__caption_hidden {
  display: none;
  visibility: hidden;
}

.card__caption-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin: 0 5px;
  font-size: 13px;
  line-height: 30px;
}

.card__caption .icon {
  opacity: 0.5;
  width: 20px;
  position: relative;
}

.card__caption .icon + .card__caption-text {
  margin-left: 5px;
}

.card__name {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
  color: #333;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  line-height: 30px;
}

.card__name_hidden {
  display: none;
  visibility: hidden;
}

.card__name-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin: 4px 5px;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
}

.card__name-text_no-margin {
  margin-left: 0;
  margin-right: 0;
}

.card__name-text_align_center {
  text-align: center;
}

.card__name .icon {
  width: 20px;
  position: relative;
}

.card__name .icon + .card__name-text {
  margin-left: 5px;
}



.card__main {
  z-index: 1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-direction: column;*/
  overflow: visible;
}

.card__main_flex-direction_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__main_transition > * {
  transition: 0.5s;
}

.card__left {
  z-index: 4;
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__left > * {
  height: 100%;
}

.card__left_hidden {
  display: none;
}

.card__right {
  z-index: 3;
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__right > * {
  height: 100%;
}

.card__right_hidden {
  display: none;
}

.card__middle {
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.card__middle-scroll {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}



.card__left + .card__middle {
  width: calc(100% - 230px);
}

.card__left.card__left_hidden + .card__middle {
  width: 100%;
}

.card__backdrop {
  display: none;
  visibility: hidden;
}

.card__main > .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 9999;
}

.card__text {
  line-height: 1.6;
  font-size: 15px;
}

.card__table {
  margin: -20px;
}

/* -------------- */

/* air-datepicker */

/* -------------- */

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dddddd;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #cccccc;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dddddd;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker--cell {
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1;
}

.datepicker--cell.-focus- {
  background: #f0f0f0;
}

.datepicker--cell.-current- {
  color: #5a97f2;
}

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6;
}

.datepicker--cell.-in-range- {
  background: rgba(92, 196, 239, 0.1);
  color: #4a4a4a;
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
}

.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
}



.datepicker--cell.-selected- {
  color: #fff;
  border: none;
  background: #5a97f2;
}

.datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #5a97f2;
}

.datepicker--cell.-selected-.-focus- {
  background: #5a97f2;
  opacity: .8;
}

.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker--day-name {
  color: #333;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
  font-style: italic;
}

.-weekend- {
  color: #ff5940;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--years {
  height: 170px;
}

.datepicker--cells-years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  background: #fff;
  box-shadow: 0 0 10px rgba(51,51,51,.5);
  box-sizing: content-box;
  font-family: ProximaNova-Regular;
  font-size: 13px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 1100;
}

.datepicker.-from-top- {
  border-bottom: 2px solid #5a97f2;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.datepicker.-from-right- {
  border-left: 2px solid #5a97f2;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.datepicker.-from-bottom- {
  border-top: 2px solid #5a97f2;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.datepicker.-from-left- {
  border-right: 2px solid #5a97f2;
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}

.-only-timepicker- .datepicker--content {
  display: none;
}

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 2px solid #5a97f2;
  border-right: 2px solid #5a97f2;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  right: calc(100% - 4px);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer {
  left: calc(100% - 4px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer {
  left: 10px;
}

.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  right: 10px;
}

.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}

.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  top: 10px;
}

.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  bottom: 10px;
}

.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body {
  display: none;
}

.datepicker--body.active {
  display: block;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;
}

.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.datepicker--nav-action {
  width: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker--nav-action:hover {
  background: #f0f0f0;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}

.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  padding: 0 8px;
}

.datepicker--nav-title i {
  font-style: normal;
  color: #9c9c9c;
  margin-left: 5px;
}

.datepicker--nav-title:hover {
  background: #f0f0f0;
}

.datepicker--nav-title.-disabled- {
  cursor: default;
  background: none;
}

.datepicker--buttons {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef;
}

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 32px;
}

.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */

.datepicker--time {
  border-top: 1px solid #efefef;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 4px;
  position: relative;
}

.datepicker--time.-am-pm- .datepicker--time-sliders {
  -ms-flex: 0 1 138px;
  -webkit-box-flex: 0;
          flex: 0 1 138px;
  max-width: 138px;
}

.-only-timepicker- .datepicker--time {
  border-top: none;
}

.datepicker--time-sliders {
  -ms-flex: 0 1 153px;
  -webkit-box-flex: 0;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}

.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.datepicker--time-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;
}

.datepicker--time-row:first-child {
  margin-bottom: 4px;
}

.datepicker--time-row input[type='range'] {
  background: none;
  cursor: pointer;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.datepicker--time-row input[type='range']::-ms-tooltip {
  display: none;
}

.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type='range']:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type='range']:hover::-ms-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type='range']:focus {
  outline: none;
}

.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
}

.datepicker--time-row input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
}

.datepicker--time-row input[type='range']::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  margin-top: -6px;
}

.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.datepicker--time-row input[type='range']::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.datepicker--time-row input[type='range']::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.datepicker--time-row input[type='range']::-ms-fill-lower {
  background: transparent;
}

.datepicker--time-row input[type='range']::-ms-fill-upper {
  background: transparent;
}

.datepicker--time-row span {
  padding: 0 12px;
}

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;
}

.datepicker--time-icon:after,
.datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute;
}

.datepicker--time-icon:after {
  height: .4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.datepicker--time-icon:before {
  width: .4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------- */

/* foresight-datepicker */

/* -------------------- */

.datepicker {
  font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
  font-size: 13px;
  border-radius: 0;
}

.datepicker--content {
  padding: 10px;
}

.datepicker--day-name {
  color: #333;
  font-style: italic;
}

.datepicker--day-name.-weekend- {
  color: #ff5940;
}

.datepicker--cell {
  border-radius: 16px;
}

.datepicker--cell.-current- {
  color: #5a97f2;
}

.datepicker--cell.-weekend- {
  color: #ff5940;
}

.datepicker--cell.datepicker--cell-year.-selected-,
.datepicker--cell.datepicker--cell-year.-selected-.-current-,
.datepicker--cell.datepicker--cell-year.-selected-.-current-.-focus- {
  background: #5a97f2;
}

.datepicker--cell.datepicker--cell-year.-selected-.-current-.-focus- {
  opacity: 0.75;
}

.datepicker--cell.datepicker--cell-month.-selected-,
.datepicker--cell.datepicker--cell-month.-selected-.-current-,
.datepicker--cell.datepicker--cell-month.-selected-.-current-.-focus- {
  background: #5a97f2;
}

.datepicker--cell.datepicker--cell-month.-selected-.-current-.-focus- {
  opacity: 0.75;
}

.datepicker--cell.datepicker--cell-day.-focus-,
.datepicker--cell.datepicker--cell-day.-selected-,
.datepicker--cell.datepicker--cell-day.-selected-.-current-,
.datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
  background: #5a97f2;
}

.datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
  opacity: 0.75;
}

.datepicker--cell.-selected-.-weekend- {
  color: #fff;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #ddd;
}

.datepicker--nav {
  padding: 10px;
  border-bottom: 0;
  padding-bottom: 0;
}

.datepicker--nav-title,
.datepicker--nav-action {
  border-radius: 0;
  border: solid 1px #ccc;
}

.datepicker--nav .datepicker--nav-action + .datepicker--nav-title,
.datepicker--nav .datepicker--nav-title + .datepicker--nav-action {
  margin-left: -1px;
}

.datepicker--nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.datepicker--nav-title i {
  color: #333;
}

.datepicker--nav-title:hover,
.datepicker--nav-action:hover {
  background-color: transparent;
  border-color: #aaa;
  z-index: 1;
}

.datepicker--nav-action path {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
}

.popup .datepicker {
  opacity: 1;
  visibility: visible;
  display: block;
  border: none;
  box-shadow: none;
}

.popup .datepicker--pointer {
  display: none;
}

@media (max-width: 768px) {
  .card__left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*border-right: solid 1px #ddd;*/
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.1), 5px 0 10px -5px rgba(51,51,51,.15);*/
    /*box-shadow: 5px 0 20px -5px rgba(51,51,51,.1)*/
  }



  .card__right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: solid 1px #ddd;
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.1), -5px 0 10px -5px rgba(51,51,51,.15);*/
    /*box-shadow: -5px 0 20px -5px rgba(51,51,51,.1)*/
  }







  .card__backdrop {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51,51,51,.1);
  }
}