.control {
    display: flex;
    padding-bottom: 10px;
}

.control__caption {
    width: 230px;
    min-width: 230px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7px 0;
    flex: 0 0 auto;
}

.control__error {
    padding: 7px 0;
    color: #ff5940;
    line-height: normal;
}

.control__text {
    padding-right: 10px;
}

.control__icons {
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.control__container {
    flex: 1 1 auto;
    line-height: 30px;
    justify-content: space-between;
    display: flex;
}
.control__container_vertical {
    flex-direction: column;
}
.control__container_text-align_right {
    text-align: right;
}

.control_vertical {
    flex-direction: column;
}
.control_vertical .control__caption {
    width: 100%;
}
.control_vertical .control__text {}
.control_vertical .control__icons {
    padding: 0;
}
