.control {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    display: flex;
    padding-bottom: 10px;
}
.control_padding_none {
    padding-bottom: 0;
}

.control__text {  }
.control__text img.indicator {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.control__caption {
    width: 230px;
    min-width: 230px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7px 0;
    flex: 0 0 auto;
}
.control__caption_size_xs {
    width: 80px;
    min-width: 80px;
}
.control__caption_size_s {
    width: 130px;
    min-width: 130px;
}
.control__caption_size_m {
    width: 180px;
    min-width: 180px;
}
.control__caption_size_l {
    width: 230px;
    min-width: 230px;
}
.control__caption_size_xl {
    width: 280px;
    min-width: 280px;
}
.control__caption .control__text {
    padding-right: 10px;
    color: #999;
}

.control__error {
    padding: 7px 0;
    color: #ff5940;
    line-height: normal;
}

.control__icons {
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.control__container {
    flex: 1 1 auto;
    line-height: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.control__container_vertical {
    flex-direction: column;
}
.control__container_horizontal {
    flex-direction: row;
}
.control__container_text-align_right {
    text-align: right;
}
.control__container .control__text {
    line-height: normal;
    padding: 7px 0;
}

.control_vertical {
    flex-direction: column;
}
.control_vertical .control__caption {
    width: 100%;
}
.control_vertical .control__text {  }
.control_vertical .control__icons {
    padding: 0;
}
