.menu_color_golikova {
    border-top: solid 1px #fff;
    background: url('menu-bg.png') left bottom no-repeat #774d95;
}
.menu_color_golikova .menu__item,
.menu_color_golikova .menu__submenu-container {
    background: #774d95;
}
.menu_color_golikova .menu__submenu-container .menu__item {
    background: rgba(51,51,51,.15);
}
.menu_color_golikova .menu__item-link {
    padding: 12px 13px;
}
.menu_color_golikova .menu__item-link_selected,
.menu_color_golikova .menu__item-link:hover,
.menu_color_golikova .menu__item-link_hovered {
    background-color: inherit;
    opacity: .5;
}

.fs-view__left_hidden .menu_color_golikova {
    width: 40px;
    background: url('menu-bg-hidden.png') left bottom no-repeat #774d95;
    overflow: visible;
}
.fs-view__left_hidden .menu_color_golikova .menu__item-text,
.fs-view__left_hidden .menu_color_golikova .menu__item-text + .icon {
    display: none;
}
.fs-view__left_hidden .menu_color_golikova .menu__submenu-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 240px;
    border-left: solid 1px #fff;
}
.fs-view__left_hidden .menu_color_golikova .menu__submenu .menu__item {
    border-bottom: solid 1px rgba(255,255,255,.15);
    border-top: none;
    background: #774d95;
}
.fs-view__left_hidden .menu_color_golikova .menu__submenu-container .menu__item-text {
    display: block;
}
