.menu_color_golikova {
    border-top: solid 1px #fff;
    background: url('menu-bg.png') left bottom no-repeat #774d95;
}
.menu_color_golikova .menu__item {
    background: #774d95;
}
.menu_color_golikova .menu__item-link {
    padding: 12px 13px;
}
.menu_color_golikova .menu__item-link_selected,
.menu_color_golikova .menu__item-link:hover,
.menu_color_golikova .menu__item-link_hovered {
    background-color: inherit;
    opacity: .5;
}

.fs-view__left_hidden .menu_color_golikova {
    width: 40px;
    background: url('menu-bg-hidden.png') left bottom no-repeat #774d95;
}
.fs-view__left_hidden .menu__item-text {
    display: none;
}