.input {
    font-family: 'Roboto Mono', 'Courier New', monospace !important;
}
.input__control {
    font-family: 'Roboto Mono', 'Courier New', monospace !important;
}
.input .input__control {
    font-family: 'Roboto Mono', 'Courier New', monospace !important;
}
