@media (max-width: 768px) {
    .calendar > .calendar__container > .card > .card__main {
        flex-direction: column;
    }
    .calendar__row_left {
        flex: 0 0 auto;
    }
    .calendar__row_right {
        flex: 1 1 auto;
    }
    .calendar__row_right .calendar__table {
        border-top: solid 1px #ddd;
        border-left: none;
    }
}
