.widget {
    position: relative;
    height: auto;
    padding-top: 10px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 20px;
}


.widget__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}
.widget__header-name {
    min-width: 0;
}
.widget__header-actions {
    display: flex;
}
.widget__header-name > * {}
.widget__header-actions > * {}


.widget__border {
    border: solid 1px #ccc;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
.widget__border_color_blue {
    border-color: #5a97f2;
}
.widget__border_color_default {
    border-color: #eee;
}
.widget__border_color_nodata {
    border-color: #ccc;
}
.widget__border_color_purple {
    border-color: #8e6bf5;
}
.widget__border_color_red {
    border-color: #ff5940;
}


.widget__body {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.widget__body_align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.widget__body-data {
    box-sizing: border-box;
}
.widget__body-data_type_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 10px 10px;
}
.widget__body-data_type_html {
    height: 100%;
    padding: 15px 10px 10px;
}
.widget__body-data_type_count {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    font-style: italic;
    padding: 20px 10px 10px;
}


.widget__body-data_color_blue {
    color: #5a97f2;
}
.widget__body-data_color_default {
    color: #333;
}
.widget__body-data_color_nodata {
    color: #aaa;
}
.widget__body-data_color_purple {
    color: #8e6bf5;
}
.widget__body-data_color_red {
    color: #ff5940;
}

.widget__body-data_color_default .spinner {
    color: #aaa;
}

.widget__header .button {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.widget__header .button.button_clicked:before {
    box-shadow: none;
}
.widget__header .button:before,
.widget__header .alertbox:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.widget__header .button.button_disabled {
    background: #fff;
    cursor: default;
}
.widget__header .button.button_disabled > * {}
.widget__header .button__text {
    min-height: 20px;
}

.widget .button_collapse .icon {
    transition: 0.5s;
}

.widget.widget_collapsed .button_collapse .icon {
    transform: rotate(-90deg);
}
.widget.widget_collapsed .widget__border {
    height: 0;
    border-bottom: none;
}
.widget.widget_collapsed .widget__body {
    display: none;
    visibility: hidden;
}

.ui-draggable-dragging .widget__border,
.ui-resizable-resizing .widget__border{
    border-color: #5a97f2 !important;
}
