.widget {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    position: relative;
    padding-top: 10px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 20px;
    transition: 0.5s;
}
.widget_shadow {
    box-shadow: 0 10px 20px -5px rgba(51,51,51,.2);
}
.widget_collapsed {
    height: auto !important;
}

/* widget__header */

.widget__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}
.widget__header-name {
    min-width: 0;
    flex: 1 1 100%;
}
.widget__header-actions {
    display: flex;
}
.widget__header-name > * {}
.widget__header-actions > * {}

/* widget__border */

.widget__border {
    border: solid 1px #ccc;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
.widget__border_none {
    border: none;
}

.widget__border_color_default { color: #333; border-color: #e5e5e5; }
.widget__border_color_default .widget__count.link { color: #333; }
.widget__border_color_default .widget__count.link:hover { opacity: .5; }
.widget__border_color_default .widget__body-data_type_text.link { color: #333; }
.widget__border_color_default .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_default .widget__body-data_type_text_align_center.link { color: #333; }
.widget__border_color_default .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_blue { color: #5a97f2; border-color: #5a97f2; }
.widget__border_color_blue .widget__count.link { color: #5a97f2; }
.widget__border_color_blue .widget__count.link:hover { opacity: .5; }
.widget__border_color_blue .widget__body-data_type_text.link { color: #5a97f2; }
.widget__border_color_blue .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_blue .widget__body-data_type_text_align_center.link { color: #5a97f2; }
.widget__border_color_blue .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_nodata { color: #aaa; border-color: #e5e5e5; }
.widget__border_color_nodata .widget__count.link { color: #aaa; }
.widget__border_color_nodata .widget__count.link:hover { opacity: .5; }
.widget__border_color_nodata .widget__body-data_type_text.link { color: #aaa; }
.widget__border_color_nodata .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_nodata .widget__body-data_type_text_align_center.link { color: #aaa; }
.widget__border_color_nodata .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_purple { color: #8e6bf5; border-color: #8e6bf5; }
.widget__border_color_purple .widget__count.link { color: #8e6bf5; }
.widget__border_color_purple .widget__count.link:hover { opacity: .5; }
.widget__border_color_purple .widget__body-data_type_text.link { color: #8e6bf5; }
.widget__border_color_purple .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_purple .widget__body-data_type_text_align_center.link { color: #8e6bf5; }
.widget__border_color_purple .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_red { color: #ff5940; border-color: #ff5940; }
.widget__border_color_red .widget__count.link { color: #ff5940; }
.widget__border_color_red .widget__count.link:hover { opacity: .5; }
.widget__border_color_red .widget__body-data_type_text.link { color: #ff5940; }
.widget__border_color_red .widget__body-data_type_text.link:hover { opacity: .5; }
.widget__border_color_red .widget__body-data_type_text_align_center.link { color: #ff5940; }
.widget__border_color_red .widget__body-data_type_text_align_center.link:hover { opacity: .5; }

.widget__border_color_none { color: #333; border-color: transparent; }

/* widget__body */

.widget__body {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding-top: 15px;
    box-sizing: border-box;
}
.widget__body_align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget__body-data {
    box-sizing: border-box;
}
.widget__body-data_type_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 15px;
}
.widget__body-data_type_html {
    height: 100%;
    overflow: hidden;
}
.widget__body-data_type_form {
    padding: 10px 20px;
}
.widget__body-data_type_text_align_center {
    padding: 0 10px 15px;
    text-align: center;
}
.widget__body-data_type_text_fontsize {
    font-size: 15px;
}

.widget__content {
    height: 100%;
    box-sizing: border-box;
}
.widget__content_align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget__content_scroll {
    overflow: auto;
}
.widget__content_padding-bottom {
    padding-bottom: 10px;
}

.widget__count {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    font-style: italic;
    padding: 10px;
}

.widget__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}
.widget__text_white-space_normal {
    white-space: normal;
}
.widget__text_text-align_center {
    text-align: center;
}

/* widget__header buttons */

.widget__header .button {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.widget__header .button.button_clicked:before {
    box-shadow: none;
}
.widget__header .button:before,
.widget__header .alertbox:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.widget__header .button.button_disabled {
    background: #fff;
    cursor: default;
}
.widget__header .button.button_disabled > * {}
.widget__header .button__text {
    min-height: 20px;
}

.widget .button_collapse .icon {
    transition: 0.5s;
}

/* widget styles override */

.widget_collapsed .button_collapse .icon {
    transform: rotate(-90deg);
}
.widget_collapsed .widget__border {
    height: 0;
    border-bottom: none;
}
.widget_collapsed .widget__body {
    display: none;
    visibility: hidden;
}

.ui-draggable-dragging .widget__border,
.ui-resizable-resizing .widget__border{
    border-color: #5a97f2 !important;
}

.widget__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}
.widget__image_hidden {
    opacity: 0;
    display: none;
}
.widget__image_visible {
    opacity: 1;
    display: block;
}

.widget_clickable:hover {
    cursor: pointer;
}
.widget_clickable:hover > .widget__border {
    border-color: #5a97f2;
}
.widget_clickable:hover > .widget__border.widget__border_color_blue {
    border-color: #ff5940;
}

.widget_has_no_name.widget_mode_view.widget_mode_view_has_no_buttons > .widget__border > .widget__body,
.widget_has_no_name.widget_mode_edit.widget_mode_edit_has_no_buttons > .widget__border > .widget__body {
    padding-top: 0;
}