.widget {
    position: relative;
    height: auto;
    padding-top: 15px;
}

.widget__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.widget__border {
    border: solid 1px #ddd;
    box-sizing: border-box;
}

.widget__header .button {
    font-size: 15px;
}
.widget__header .button.button_clicked:before {
    box-shadow: none;
    background-color: #fff;
}

.widget__header .button:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}