.gallery {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    height: 100%;
    flex: 1 1 auto;
}
.gallery .tabs__pane {
    display: flex;
    flex-wrap: wrap;
}

.gallery__image-block {
    position: relative;
    box-sizing: border-box;
}
.gallery__image-block:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.08);
}
.gallery__image-block_selected .gallery__image-link {
    background-color: rgba(0,0,0,.08);
}

.gallery__image-link {
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    text-decoration: none;
}
.gallery__image-link_padding_10 {
    padding: 10px;
}
.gallery__image-link:hover {
    text-decoration: none;
}

.gallery__image {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    transition: opacity 500ms ease-out;
    overflow: hidden;
    margin: 0 auto;
}
.gallery__image > * {
    display: none;
}
.gallery__filename {
    color: #333;
    width: 80px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}
.gallery__image-link:hover .gallery__filename {
    color: #ff4800;
}

.gallery__error {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gallery__error-info {
    color: #ff5940;
    text-align: center;
}

.gallery__doc {
    background: none !important;
}
.gallery__doc > * {
    display: block;
}