.calendar {
    height: 100%;
}
.calendar__container {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar__row {
    display: flex;
    flex-wrap: nowrap;
}
.calendar__row_top {
    flex: 0 0 auto;
}
.calendar__row_bottom {
    flex: 1 1 auto;
}

.calendar__datepicker {
    width: 100%;
    flex: 0 0 auto;
}
.calendar__datepicker .datepicker {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    display: block;
}

.calendar__table {
    width: 100%;
    overflow: auto;
}
.calendar__table .table thead td {
    border-top: none;
}
