.calendar {
    height: 100%;
}
.calendar__container {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar__row {
    display: flex;
    flex-wrap: nowrap;
}
.calendar__row_top {
    flex: 0 0 auto;
}
.calendar__row_bottom {
    flex: 1 1 auto;
}

.calendar__datepicker {
    width: 100%;
    flex: 0 0 auto;
}
.calendar__datepicker .datepicker {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.calendar__table {
    width: 100%;
    overflow: auto;
}
.calendar__table .table thead td {
    border-top: none;
}

.calendar .datepicker--cell {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.calendar .datepicker__day {
    position: relative;
    padding: 8px;
    border-radius: 16px;
    min-width: 16px;
    text-align: center;
}

.calendar .datepicker--cell.datepicker--cell-day.-focus-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
    background: transparent;
}
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- {
    opacity: 0.75;
}

.calendar .datepicker--cell.datepicker--cell-day.-focus- .datepicker__day {
    background: #f0f0f0;
}
.calendar .datepicker--cell.datepicker--cell-day.-selected- .datepicker__day,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current- .datepicker__day,
.calendar .datepicker--cell.datepicker--cell-day.-selected-.-current-.-focus- .datepicker__day {
    background: #5a97f2;
    color: #fff;
}

.calendar .datepicker__note {
    position: absolute;
    box-sizing: border-box;
    color: #fff;
    background-color: #ff5940;
    right: -8px;
    top: 0;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 9px;
    display: block;
    min-width: 16px;
    text-align: center;
}
.calendar .datepicker__event {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.calendar .datepicker__event-link {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.calendar .datepicker__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border: solid 1px #ddd;
    border-right: none;
}
.calendar .datepicker__indicator img {
    width: 10px;
    height: 10px;
}
.calendar .datepicker__event-text {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    border: solid 1px #ddd;
}