/*.widget-grid_multiple*/ .widget {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
    margin-top: 10px;
    padding-top: 0;
}
/*.widget-grid_multiple*/ .widget__header {
    position: relative;
    background-color: #303548;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;
    flex: 0 0 auto;
}
/*.widget-grid_multiple*/ .widget_collapsed .widget__header {
    border-radius: 3px;
}

/*.widget-grid_multiple*/ .widget_has_name > .widget__header,
/*.widget-grid_multiple*/ .widget_mode_edit > .widget__header,
/*.widget-grid_multiple*/ .widget_mode_view_has_buttons > .widget__header {}

/*.widget-grid_multiple*/ .widget__header .button {
    background: #303548;
    height: 28px;
    line-height: 28px;
    margin: 6px 0;
}
/*.widget-grid_multiple*/ .widget__header .button:before {
    background: #303548;
}
/*.widget-grid_multiple*/ .widget__header .button__text {
    min-height: 20px;
    font-size: 15px;
    color: #fff;
}

/*.widget-grid_multiple*/ .widget__border {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
}
/*.widget-grid_multiple*/ .widget__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
    padding: 0;
    background-color: #303548;
    border-radius: 0 0 3px 3px;
}
/*.widget-grid_multiple*/ .widget__body-data_type_html {
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
}
/*.widget-grid_multiple*/ .widget__body-data_type_text,
/*.widget-grid_multiple*/ .widget__body-data_type_text_align_center {
    padding: 5px;
}

/*.widget-grid_multiple*/ .widget {
    border: none;
}
/*.widget-grid_multiple*/ .widget__border {
    color: #fff;
    border-top: solid 1px #595d6d;
    background-color: #303548;
    border-radius: 0 0 3px 3px;
}
/*.widget-grid_multiple*/ .widget_collapsed .widget__border {
    border-top: none;
}

/*.widget-grid_multiple*/ .widget_color_default .widget__border,
/*.widget-grid_multiple*/ .widget_color_dark_grey .widget__border,
/*.widget-grid_multiple*/ .widget_color_dark_blue .widget__border,
/*.widget-grid_multiple*/ .widget_color_blue .widget__border,
/*.widget-grid_multiple*/ .widget_color_light_blue .widget__border,
/*.widget-grid_multiple*/ .widget_color_nodata .widget__border,
/*.widget-grid_multiple*/ .widget_color_purple .widget__border,
/*.widget-grid_multiple*/ .widget_color_red .widget__border,
/*.widget-grid_multiple*/ .widget_color_green .widget__border,
/*.widget-grid_multiple*/ .widget_color_none .widget__border { border: none; }

/*.widget-grid_multiple*/ .widget_color_default,
/*.widget-grid_multiple*/ .widget_color_dark_grey,
/*.widget-grid_multiple*/ .widget_color_dark_blue,
/*.widget-grid_multiple*/ .widget_color_blue,
/*.widget-grid_multiple*/ .widget_color_light_blue,
/*.widget-grid_multiple*/ .widget_color_nodata,
/*.widget-grid_multiple*/ .widget_color_purple,
/*.widget-grid_multiple*/ .widget_color_red,
/*.widget-grid_multiple*/ .widget_color_green,
/*.widget-grid_multiple*/ .widget_color_none { color: #fff; border: solid 1px transparent; box-shadow: none; }
/*.widget-grid_multiple*/ .widget_color_default { box-shadow: 0 0 10px rgba(0,0,0,.3); }

/*.widget-grid_multiple*/ .widget_color_default .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_dark_grey .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_dark_blue .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_blue .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_light_blue .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_nodata .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_purple .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_red .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_green .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_none .widget__border .widget__count.link,
/*.widget-grid_multiple*/ .widget_color_default .widget__border .widget__count.link { color: #fff; }

/*.widget-grid_single*/ .widget {
    margin-top: 0;
}
