.counter {
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.counter .alertbox {
    width: 20px;
}
.counter .alertbox {
    background-color: transparent;
    border-radius: 0;
}
.counter .alertbox:before {
    background-color: transparent;
    border-radius: 0;
}
.counter .alertbox__text {
    color: #fff;
    font-weight: normal;
}
