.copyright {
    background-color: #4983c4;
    color: #fff;
    font-size: 15px;
    line-height: 10px;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
