html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.fs-view {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    z-index: 99;
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.fs-view_transition > * {
    transition: 0.5s;
}

.fs-view__header {
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px -5px rgba(51,51,51,.15);

    flex: 0 0 auto;
}
.fs-view__header_hidden {}

.fs-view__main {
    z-index: 1;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
}
.fs-view__main_transition > * {
    transition: 0.5s;
}

.fs-view__left {
    z-index: 3;
    width: 230px;
    min-width: 230px;
    max-width: 230px;
    display: flex;
    flex-direction: column;
}
.fs-view__left > * {}
.fs-view__left_hidden {
    margin-left: -230px;
}

.fs-view__backdrop {
    display: none;
    visibility: hidden;
}

.fs-view__middle {
    z-index: 1;
    flex: 1 1 auto;
    /*
    position: absolute;
    height: 100%;
    left: 230px;
    top: 0;
    right: 0;
    */
    overflow: hidden;
}
.fs-view__middle_full {
    left: 0;
}
.fs-view__middle_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 0;
    box-sizing: border-box;
}
.fs-view__middle-scroll {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
}
.fs-view__middle-inner {
    position: relative;
}
.fs-view__middle .fs-view__header {
    box-shadow: none;
    border-bottom: solid 1px #ddd;
}

.fs-view__middle_transition > * {
    transition: 0.5s;
}
.fs-view__middle-right {
    position: relative;
    z-index: 3;
    width: 230px;
    min-width: 230px;
    max-width: 230px;
}
.fs-view__middle-right_hidden {
    margin-right: -230px;
}
.fs-view__middle-right > * {
    height: 100%;
}
.fs-view__middle-backdrop {
    display: none;
    visibility: hidden;
}

/* page_horizontal-menu */
@media (min-width: 769px) {
    .page_menu_horizontal .fs-view__main {
        display: flex;
        flex-direction: column;
    }
    .page_menu_horizontal .fs-view__left {
        flex: 0 0 auto;
        position: relative;
        width: auto;
        min-width: auto;
        max-width: none;
        overflow: visible;
        height: auto;
    }
    .page_menu_horizontal .fs-view__left.fs-view__left_hidden {
        margin-left: 0;
    }
    .page_menu_horizontal .fs-view__middle {
        flex: 1 1 auto;
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    .page_menu_horizontal .fs-view__middle-scroll {
        height: auto;
    }
}
