.input {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    position: relative;
    padding: 0;
    user-select: none;
    color: #333;
    border: 0;
    outline: 0;
    background: #ccc;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
    /*overflow: hidden;*/
    display: block;
}

.input:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    background: #fff;
}

.input_disabled {
    background: rgba(0,0,0,.08);
}
.input_disabled:before {
    display: none;
}

.input_hidden {
    display: none;
    visibility: hidden;
}

.input__has-error { background: #ff5940; }
.input__has-error:before,
.input__has-error .button:before {
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

.input_focused {
    background: #5a97f2;
}
.input_focused:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}
.input_focused .button:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.input_filled {
    background: #63c163;
}
.input_filled:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}
.input_filled .button:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.input__box {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #333;
    border: 0;
    outline: 0;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

.input__control {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
    line-height: inherit;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    border: 0;
    outline: none;
    background: none;
    -webkit-appearance: none;
    flex: 1 1 auto;
}

.input .input__control {
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    transition: unset;
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    color: #333;
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    top: 2px;
    left: 2px;
    height: 26px;
    line-height: 26px;
}
.input.input_focused .input__control {
    box-shadow: none;
}

.input__control::-ms-clear {
    display: none;
}

.input__has-clear .input__control {
    padding-right: 0;
}

.input__box .button {
    flex: 0 0 auto;
    background: none;
}

.input__box .button .icon {
    opacity: .5;
}
.input__box .button.button_clicked:before {
    box-shadow: none;
    background-color: #fff;
}
.input__box .button.button_hovered .icon {
    opacity: 1;
}

.input__box .alertbox,
.input__box .alertbox:before {
    background: transparent;
}
.input__box .alertbox + .input__control {
    padding-left: 0;
}