.input {
    font-family: 'ProximaNova-Regular';
    position: relative;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #333;
    border: 0;
    outline: 0;
    background: #ccc;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
    /*overflow: hidden;*/
    display: block;
}

.input:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    background: #fff;
}

.input_disabled {
    background: rgba(0,0,0,.08);
}
.input_disabled:before {
    display: none;
}

.input_hidden {
    display: none;
    visibility: hidden;
}

.input_focused {
    background: #5a97f2;
}
.input_focused:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.input_focused .button:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.input__box {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #333;
    border: 0;
    outline: 0;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.input__control {
    font: inherit;
    line-height: inherit;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 8px;
    width: 100%;
    border: 0;
    outline: none;
    background: none;
    -webkit-appearance: none;
    flex: 1 1 auto;
}

.input__control::-ms-clear {
    display: none;
}

.input__has-clear .input__control {
    padding-right: 0;
}

.input__box .button {
    flex: 0 0 auto;
    background: none;
}

.input__box .button .icon {
    opacity: .5;
}
.input__box .button.button_clicked:before {
    box-shadow: none;
    background-color: #fff;
}
.input__box .button.button_hovered .icon {
    opacity: 1;
}

.input__datepicker {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 10px 20px -5px rgba(51, 51, 51, .5);
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    animation-name: input__datepicker_bottom;
}
.input__datepicker_animation {
    animation-duration: .1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.input__datepicker_visible_bottom {
    visibility: visible;
    margin: 0;
    animation-name: input__datepicker_visible_bottom;
}
.input__datepicker .datepicker {
    opacity: 1;
    visibility: visible;
    display: block;
}
.input__datepicker .datepicker--pointer {
    display: none;
}

@keyframes input__datepicker_bottom {
    0% {
        visibility: visible;
        margin: 0;
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        transform: translateY(10px);
    }
    100% {
        visibility: hidden;
        margin: -9999px 0 0 -9999px;
        opacity: 0;
    }
}

@keyframes input__datepicker_visible_bottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*multiple select*/
.ms-parent { margin-right: 0px; }
.ms-parent * { font-size: 13px; font-family: 'ProximaNova-Regular'; }
.ms-parent .ms-choice { outline: none; padding: 0 0 0 8px; height: 30px; line-height: 28px; background: #fff; box-shadow: none; border-color: #ccc; border-radius: 0; }
.ms-parent .ms-choice:hover { border-color: #ff5940 !important; }
.ms-parent .ms-choice.ms-open { border-color: #ccc !important; }
.ms-parent .ms-choice > span { position: relative; padding: 0; margin-right: 26px; }
.ms-parent .ms-choice > div { height: 100%; }
.ms-parent .ms-choice > div:hover { opacity: .5; }
.ms-parent .ms-drop { border-color: #ccc; box-shadow: 0 5px 10px rgba(51, 51, 51, 0.25); margin-top: -1px; }
.ms-parent .ms-search { padding: 5px 4px; }
.ms-parent .ms-search input { border-color: #ccc; padding: 4px 20px 4px 5px; background: none; }
.ms-parent .ms-search input:focus { border-color: #ff5940; box-shadow: none; }
.ms-parent .ms-drop ul > li label { white-space: normal; padding: 5px 4px; margin: 0px; line-height: 15px; }
.ms-parent .ms-drop ul > li label input[type="checkbox"],
.ms-parent .ms-drop ul > li label input[type="radio"] { margin: -3px 7px 0px 0; }
.ms-parent .ms-drop ul > li:hover label { background: #f9f9f9; color: #ff5940; cursor: pointer; }
.ms-parent .ms-drop ul > li.selected label { color: #ff5940; }
.ms-parent .ms-drop .ms-no-results { padding: 5px 4px; margin: 0px; line-height: 15px; background-color: #f4f4f4; }
.ms-choice > span.placeholder { color: #aaa; }
/*multiple select*/
