.link {
    font-family: 'ProximaNova-Regular';
    text-decoration: none;
    color: #4983c4;
    border: none;
}

.link:hover {
    text-decoration: none;
    color: #ff5940;
    cursor: pointer;
    border: none;
}