.link {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    text-decoration: none;
    color: #4983c4;
    border: none;
}

.link_nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link_code {
    font-family: 'Courier New', monospace;
}

.link:hover {
    text-decoration: none;
    color: #ff5940;
    cursor: pointer;
    border: none;
}