.link {
    font-family: 'ProximaNova-Regular';
    text-decoration: none;
    color: #4983c4;
    /*border-bottom: solid 1px #4983c4;*/
}

.link:hover {
    text-decoration: none;
    color: #ff5940;
    /*border-color: #ff5940;*/
}