.button_color_blue {
    background: rgba(255,255,255,.5);
}
.button_color_blue:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2057a7;
}
.button_color_blue:hover {
    background: #fff;
}
.button_color_blue.button_clicked:before {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.08);
    background-color: #2057a7;
}

.button_color_transparent {
    background: transparent !important;
}
.button_color_transparent:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent !important;
}
.button_color_transparent:hover {
    background: transparent !important;
}
.button_color_transparent.button_clicked:before {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.08);
    background-color: transparent !important;
}