.select {
    display: none;
}
.select__container {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap !important;
}
.select__container_hidden {
    display: none;
}
.select__container.select_checked > .button {
    background: #63c163;
}
.select__container.select_checked > .button:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

.select__container.select__has-error > .button { background: #ff5940; }
.select__container.select__has-error > .button:before {
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}
.select__container > .button {
    flex: 1 1 auto;
    overflow: hidden;
}
.select__container > .button + .button {
    flex: 0 0 auto;
    margin-left: -1px;
}
.select__container > .button_hovered {
    z-index: 1;
}
.select__container > .button .icon {
    opacity: .5;
}
.select__container > .button_hovered .icon {
    opacity: 1;
}
