.select {
    display: none;
}
.select__container {
    overflow: hidden;
}
.select__container.select_checked > .button {
    background: #63c163;
}
.select__container.select_checked > .button:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}
