@media (max-width: 920px) {
    .header__column_hands {
        display: none;
    }
}
@media (max-width: 768px) {
    .header__column {
        padding-bottom: 0;
    }
    .header__column_hands {
        display: block;
    }
}
@media (max-width: 450px) {
    .header__column_hands {
        display: none;
    }
}
