/*
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('ProximaNova-Regular/ProximaNova-Regular.eot'); // IE9 Compat Modes
    src: url('ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), // Pretty Modern Browsers
    url('ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), // Safari, Android, iOS
    url('ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg'); // Legacy iOS
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('ProximaNova-Bold/ProximaNova-Bold.eot'); // IE9 Compat Modes
    src: url('ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), // Pretty Modern Browsers
    url('ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'), // Safari, Android, iOS
    url('ProximaNova-Bold/ProximaNova-Bold.svg#svgFontName') format('svg'); // Legacy iOS
}
*/

/* regular */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: local('ProximaNova'), local('Proximanova'), local('ProximaNova-Regular'), local('Proximanova-Regular'),
    url('ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
    url('ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg');
}
/* bold */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 700;
    src: local('ProximaNova Bold'), local('ProximaNova-Bold'), local('Proximanova Bold'), local('Proximanova-Bold'),
    url('ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'),
    url('ProximaNova-Bold/ProximaNova-Bold.svg#svgFontName') format('svg');
}

.proximanova,
.proximanova_regular {
    font-family: 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
    line-height: normal;
    font-weight: normal;
}
.proximanova_bold {
    font-family: 'ProximaNova', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif !important;
    line-height: normal;
    font-weight: bold;
}
