@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('ProximaNova-Regular/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('ProximaNova-Bold/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('ProximaNova-Bold/ProximaNova-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.proximanova_regular {
    font-family: 'ProximaNova-Regular', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: normal;
}
.proximanova_bold {
    font-family: 'ProximaNova-Bold', Tahoma, Helvetica, Arial, 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: normal;
}