.popup .input {
    background: #ccc !important;
}
.popup .input:before {
    background: #fff !important;
}
.popup .alertbox,
.popup .button {
    background: transparent !important;
}
.popup .alertbox:before,
.popup .button:before {
    background: transparent !important;
}

.popup .icon_svg_close {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzMzMzMiIHBvaW50cz0iMTAuNTg2LDEyIDYsNy40MTQgMS40MTQsMTIgMCwxMC41ODYgNC41ODYsNiAwLDEuNDE1IDEuNDE1LDAgNiw0LjU4NiAxMC41ODYsMCAxMiwxLjQxNCA3LjQxNCw2IDEyLDEwLjU4NiAiLz48L3N2Zz4=) !important;
}
.popup .icon_svg_search {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTMgMTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0xMC4wMjksOC42MTdMMTMsMTEuNTg2TDExLjU4NiwxM2wtMi45Ny0yLjk2OUM3LjczLDEwLjY0Myw2LjY1OCwxMSw1LjUsMTFDMi40NjIsMTEsMCw4LjUzNywwLDUuNUMwLDIuNDYyLDIuNDYyLDAsNS41LDBDOC41MzcsMCwxMSwyLjQ2MiwxMSw1LjVDMTEsNi42MzksMTAuNjIzLDcuNzM5LDEwLjAyOSw4LjYxN3ogTTUuNSwyQzMuNTY3LDIsMiwzLjU2NywyLDUuNUMyLDcuNDM0LDMuNTY3LDksNS41LDlDNy40MzQsOSw5LDcuNDM0LDksNS41QzksMy41NjcsNy40MzQsMiw1LjUsMnoiLz48L3N2Zz4=) !important;
}
