.popup .input {
    background: #ccc !important;
}
.popup .input_focused {
    background: #5a97f2 !important;
}
.popup .input:before {
    background: #fff !important;
}
.popup .alertbox,
.popup .button {
    background: transparent !important;
}
.popup .alertbox:before,
.popup .button:before {
    background: transparent !important;
}
.popup .input__control {
    color: #333 !important;
}
