.video {
    width: 100%;
    height: 100%;
    background-color: #000;
}
.video__container {
    width: 100%;
    height: 100%;
}
.video__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity .2s ease-in-out 0s;
    display: flex;
    justify-content: space-between;
}
.video__controls_hidden {
    transition: opacity .2s ease-in-out 0s;
    opacity: 0;
}
.video__controls,
.video__controls .button,
.video__controls .button:before {
    background-color: #000;
}
.video__controls .button {
    opacity: .5;
}
.video__controls .button_hovered {
    opacity: 1;
}